{% extends "base.html" %}
{% block title %}
<title>Sistemas y gestión de autenticación - ITA</title>
{% endblock %}
{% block description %}
<meta name="description" content="Seguridad y Gestión de Autenticación. Soluciones para la Verificación, Validación y Recaudación de información Biometrica en Panamá y Colombia" />
{% endblock %}



{% block content %}

  <div class="tp-banner-container mb-0">
            <div id="rev-slider" class="tp-banner">
                <ul>
                    <!-- SLIDE ONE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/sb/slidessb.jpg' %}"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <div class="tp-caption tp-big-heading tp-big-heading-bold sfl right"
                             data-x="700"
                             data-y="150"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <span style="font-size:70px; font-weight:100; color: #fff;">BIOMÉTRICA</span> <br /> Seguridad y Gestión de Autenticación</br><span style="font-size:18px; color: #fff; font-weight:400;">Soluciones para la <strong style="color:#fff; font-weight:600;">Verificación, Validación y Recaudación</strong></br> de información Biometrica</span>

                        </div>

                       <!-- <div class="tp-caption sfb"
                             data-x="0"
                             data-y="200"
                             data-speed="500"
                             data-start="1300"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slide1-2.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sfr"
                             data-x="75"
                             data-y="100"
                             data-speed="500"
                             data-start="1600"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slide1-3.png' %}" alt=""/>
                        </div>
                    </li><!-- SLIDE ONE END -->


                </ul>
            </div><!-- .tp-banner end -->
        </div><!-- .tp-banner-container end -->

        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 custom-background bkg-darkblue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-desktop"></i>
                            </div>

                            <div class="text-container">
                                <p>Autenticación de huella dactilar</p>
                                <span class="big">VALIDA S.A.B</span>
                            </div><!-- .text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end -->

                    <div class="col-md-4 custom-background bkg-blue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-globe"></i>
                            </div>

                            <div class="text-container">
                                <p>Reconocimiento Facial</p>
                                <span class="big">FACE FIRST</span>
                            </div><!-- text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end -->

                    <div class="col-md-4 custom-background bkg-darkblue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-eye"></i>
                            </div>

                            <div class="text-container">
                                <p>Escaneo y detección del Iris</p>
                                <span class="big">IRIS ON THE MOVE</span>
                            </div><!-- .text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end -->
                </div><!-- .row end -->
            </div><!-- .container-fluid end -->
        </div><!-- .page-content end -->

        <div class="page-content parallax parallax-15 padding-0">
            <div class="container">
                <div class="row mb-0">

                    <div class="col-md-5">
                        <img src="{% static 'images/sb/validat.jpg' %}" alt="Valida"/>


                    </div><!-- .col-md-6 end -->
                    
                    <div class="col-md-7">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading left">
                            <span class="heading-top">VALIDA - Servicio de Autenticación Biométrica</span>
                            <h1>Verificación de indentidad de usuarios mediante el escaneo de su <strong>huella dactilar.</strong> </h1>
                        </section><!-- .fancy-heading end -->

                        
                        <p>
                         Sistema automatizado de autenticación biométrica mediante acceso en línea, que permite verificar la identidad de un ciudadano a través de la comparación de los patrones de su huella dactilar con la información provista por un ente que provee información certificada y validada como es la Registraduría Nacional del Estado Civil.
                        </p>
                        
                        <p>
                          Como resultado de este proceso se obtiene la información necesaria del ciudadano para efectos de validar su identidad ya que genera información del proceso de cotejo biométrico de las huellas y entrega su información biográfica (Nombres, apellidos, etc.) 
                        </p>
                        
                        <br />
                    </div><!-- .col-md-6 end -->
                </div><!-- .row end -->
                
                
                <div class="row">
                    <div class="col-md-6">
                     <div style="">
                      
                           
                        <div class="service-box-2 col-md-4">
                            <div class="icon-container">
                                <i class="linecons-tablet"></i>
                            </div>
                            
                            <div class="text-container">
                                <h4>Dispositivos Biométricos</h4>
                                
                                <p>
                                 La implementación de estándares biométricos facilita la interoperabilidad y permite la integración de dispositivos de diferentes fabricantes con el sistema. 
                                </p>
                            </div><!-- .text-container end -->
                        </div><!-- .service-box-4 end -->
                     
                      
                        <div class="service-box-2 col-md-4">
                            <div class="icon-container">
                                <i class="linecons-browser"></i>
                            </div>
                            
                            <div class="text-container">
                                <h4>Aplicaciones y software</h4>
                                
                                <p>
                                    Se dispone de aplicaciones listas para realizar el proceso de validación de identidad en línea para implantaciones automáticas del sistema.
                                </p>
                            </div><!-- .text-container end -->
                        </div><!-- .service-box-4 end -->
                     
                        
                        <div class="service-box-2 col-md-4">
                            <div class="icon-container">
                                <i class="linecons-puzzle"></i>
                            </div>
                            
                            <div class="text-container">
                                <h4>Integración con aplicaciones</h4>
                                
                                <p>
                                    La arquitectura del servicio permite una fácil y rápida integración en cualquier tipo de soluciónes para dispositivos fijos o móviles.
                                </p>
                            </div><!-- .text-container end -->
                        </div><!-- .service-box-4 end -->
                 

                    </div><!-- .col-md-4 end -->
                     
                     </div> 
                   
                    <div class="col-md-6">
                     <div style="max-width:400px;margin-left: auto;margin-right: auto;">
                      <h6><br><strong>OBJETIVOS Y BENEFICIOS</strong></h6>
                      <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i>Disminución de los problemas de suplantación por falta de sistemas confiables de autenticación personal.</li>
                            <li><i class="fa fa-li fa-check"></i>Autenticación y verificación de identidad automatizada en documentos y trámites .</li>
                            <li><i class="fa fa-li fa-check"></i>Fuente de información única y confiable: Provee información biométrica y biográfica certificada de un ciudadano.</li>
                            <li><i class="fa fa-li fa-check"></i>Agilización de procesos que requieren autenticación personal.</li>
                            <li><i class="fa fa-li fa-check"></i>Fácil integración del proceso de autenticación personal con sistemas de información.</li>
                            <li><i class="fa fa-li fa-check"></i>Información transaccional centralizada y fuertemente asegurada (Firma digital, estampas de tiempo, etc).</li>
                        </ul>
                     
                     </div> 
                    </div>
                </div><!-- .row end -->

                
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

 <div class="page-content parallax parallax-6 dark" data-stellar-background-ratio="1" >
            <div class="container">
                
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading left">
                            <span class="heading-top">Inversiones Tecnológicas de América S.A</span>
                            <h3>Operador homologado por la Registraduría Nacional del Estado Civil de Colombia bajo el estándar biométrico de huella ISO19794-2</h3>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->

                
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->


       <!-- .page-content start -->
        <div class="page-content custom-background bkg-grey">
            <!-- .container start -->
            <div class="container"> 
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->

                        <section class="fancy-heading center">
                            <span class="heading-top">Sistema Face First</span>
                            <h1>Identificacion de personas basada en el reconocimientos de sus características faciales</h1>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->


                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-4 start -->
                    

                    <!-- .col-md-4 start -->
                    <div class="col-md-3">

                    <h6><strong>CARACTERÍSTICAS</strong></h6>
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i>Identificación no intrusiva y en movimiento (video en vivo)</li>
                            <li><i class="fa fa-li fa-check"></i>Reconocimiento de múltiples rostros simultáneamente en una imagen de video </li>
                            <li><i class="fa fa-li fa-check"></i>Consulta remota de bases de datos </li>
                            <li><i class="fa fa-li fa-check"></i>Alta velocidad de identificación</li>
                            <li><i class="fa fa-li fa-check"></i>Soporte de cámaras analógicas e IP. No necesita cámaras especiales</li>
                            <li><i class="fa fa-li fa-check"></i>Sistema automático de alertas (Estación de operario, Correo electrónico, SMS)</li>
                        </ul>
                    </div>
                    <!-- .col-md-4 start -->
                    <div class="col-md-3">
                    <div style="height:7px !important"></div>
                    <h6><br><strong></strong></h6>
                        <ul class="fa-ul">
                        
                            <li><i class="fa fa-li fa-check"></i>Identificación automática de rostro en vivo con bases de datos de listas negras</li>
                             <li><i class="fa fa-li fa-check"></i>Soporta múltiples condiciones de ambiente con alta precisión</li>
                              <li><i class="fa fa-li fa-check"></i>Soporta cambios en el rostro tales como envejecimiento, vello facial, color de la piel, lentes oscuros, etc.</li>
                             <li><i class="fa fa-li fa-check"></i>Generación de estadísticas y búsquedas</li>
                            
                            <li><i class="fa fa-li fa-check"></i>Arquitectura modular distribuida</li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        
                        <div class="service-box-2">

                        </div><!-- .service-box-2 end -->
                        <img src="{% static 'images/sb/facefirst.jpg' %}" alt="Face First"/>
                    </div><!-- .col-md-4 end -->
                   


                </div><!-- .row end -->

                 <!-- .row start -->
                <div class="row tm--30">
                    
                    <!-- .col-md-4 start -->

                        <!-- .col-md-4 start -->
                      <div class="col-md-6 clearfix">
                          <h6><strong>PROS vs CONTRAS DE LA TECNOLOGÍA</strong></h6>
                        <ul class="tabs">
                            <li class="active">
                                <a href="#tab1"><i class="fa fa-thumbs-o-up"></i>  Ventajas de la detección facial</a>
                            </li>
                            <li class="">
                                <a href="#tab2"><i class="fa fa-thumbs-o-down"></i>  Desventajas de la detección facial</a>
                            </li>
                        </ul><!-- .tabs end -->

                        <!-- .tabs-content-wrap start -->
                        <div class="tab-content-wrap">
                            <!-- #tab1 content start -->
                            <div id="tab1" class="tab-content">
                                    <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i>Cantidad de puntos característicos de comparación contra otras tecnologías biométricas. El rostro contiene hasta 120 puntos de comparación</li>
                            <li><i class="fa fa-li fa-check"></i>Altísimos niveles de efectividad en condiciones adecuadas</li>
                            <li><i class="fa fa-li fa-check"></i>Sistema no intrusivo. No se requiere contacto alguno, ni que la persona sepa que el sistema se encuentra instalado para realizar la identificación</li>
                            <li><i class="fa fa-li fa-check"></i>Velocidad en la identificación</li>
                            <li><i class="fa fa-li fa-check"></i>Los algoritmos modernos tienen tal precisión que logran identificar incluso ante la presencia de lentes de sol, sombreros y diferenciar entre gemelos</li>
                        </ul>
                            </div><!-- #tab1 content end -->

                            <!-- #tab1 content start -->
                            <div id="tab2" class="tab-content">
                            <ul class="fa-ul">
                                <li><i class="fa fa-li fa-check"></i>Se requiere un ambiente con condiciones adecuadas de iluminación y posicionamiento de cámaras</li>
                                <li><i class="fa fa-li fa-check"></i>Cirugía plástica</li>
                            </ul>
                            </div><!-- #tab2 content end -->

                            <!-- #tab1 content start -->
                           
                        </div><!-- .tab-content-wrap end -->
                    </div>
                       <div class="col-md-6 clearfix">
                          <h6><strong>IMPLEMENTACIONES</strong></h6>
                          <p>La tecnología de reconocimiento facial es ideal para soluciones que requieran identificación personal mediante sistemas no intrusivos que permitan realizar una identificación de forma eficiente y sin colaboración del individuo.</p>
                          <p>Las soluciones de identificación mediante reconocimiento facial han sido implementadas exitosamente en soluciones como: </p>
                          <div class="col-md-6 clearfix">
                          <ul class="fa-ul medium-icons">
                            <li>
                                <div class="icon-container bkg-blue animated triggerAnimation zoomIn" data-animate="zoomIn" style="opacity: 1;">
                                    <i class="fa fa-li fa-futbol-o"></i>
                                </div>
                                <div class="li-content">
                                        <h6>Estadios y recintos</h6>
                                </div>
                            </li>
                            <li>
                                <div class="icon-container bkg-blue animated triggerAnimation zoomIn" data-animate="zoomIn" style="opacity: 1;">
                                    <i class="fa fa-li fa-plane"></i>
                                </div>
                                <div class="li-content">
                                        <h6>Aeropuertos</h6>
                                </div>
                            </li>
                            <li>
                                <div class="icon-container bkg-blue animated triggerAnimation zoomIn" data-animate="zoomIn" style="opacity: 1;">
                                    <i class="fa fa-li fa-bus"></i>
                                </div>
                                <div class="li-content">
                                        <h6>Terminales de transporte</h6>
                                </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6 clearfix">
                          <ul class="fa-ul medium-icons">
                            <li>
                                <div class="icon-container bkg-blue animated triggerAnimation zoomIn" data-animate="zoomIn" style="opacity: 1;">
                                    <i class="fa fa-li fa-shield"></i>
                                </div>
                                <div class="li-content">
                                        <h6>Edificios con alta seguridad</h6>
                                </div>
                            </li>
                            <li>
                                <div class="icon-container bkg-blue animated triggerAnimation zoomIn" data-animate="zoomIn" style="opacity: 1;">
                                    <i class="fa fa-li fa-shopping-cart"></i>
                                </div>
                                <div class="li-content">
                                        <h6>Establecimientos comerciales</h6>
                                </div>
                            </li>
                            <li>
                                <div class="icon-container bkg-blue animated triggerAnimation zoomIn" data-animate="zoomIn" style="opacity: 1;">
                                    <i class="fa fa-li fa-bullseye"></i>
                                </div>
                                <div class="li-content">
                                        <h6>Casinos</h6>
                                </div>
                            </li>
                          </ul>
                        </div>
                        
                      </div>
                    
                        
                </div><!-- .row end -->

            </div><!-- .container end -->
        </div><!-- .page-content end -->
       
        <div class="page-content parallax parallax-3 dark" data-stellar-background-ratio="1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">Identificación de IRIS</span>
                            <h3>Técnica de identificación de una persona basada en el reconocimiento de los patrones del IRIS</h3>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
                
                

                
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

         </div><!-- .page-content end -->

        <div class="page-content">
            <div class="container mt-80">

                <h6><strong>BENEFICIOS Y CARACTERÍSTICAS</strong></h6>
                <div class="row">
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        
                        <ul class="services-li">
                            <li class="service-box-7">
                                <div class="icon-container">
                                    <i class="fa fa-eye triggerAnimation animated" data-animate='zoomIn'></i>
                                </div>

                                <a href="#"><h4>El Irirs</h4></a>
                                <p>
                                    Posee una mayor cantidad de puntos característicos de comparación contra otras tecnologías biométricas.
                                </p>
                            </li><!-- .service-box-2 end -->

                            <li class="service-box-7">
                                <div class="icon-container">
                                    <i class="fa fa-check-square-o triggerAnimation animated" data-animate='zoomIn'></i>
                                </div>

                                <a href=""><h4>Efectividad</h4></a>
                                <p>
                                    Los sistemas de <strong>biométricos escaneo oculares</strong>, son reconocidos como los más efectivos y seguros.
                                </p>
                            </li><!-- .service-box-2 end -->

                            <li class="service-box-7">
                                <div class="icon-container">
                                    <i class="fa fa-calendar triggerAnimation animated" data-animate='zoomIn'></i>
                                </div>

                                <a href=""><h4>Sistema atemporal</h4></a>
                                <p>
                                    El IRIS permanece inmodificable a lo largo de la vida de una persona y no se afecta ni siquiera por cirugías a los ojos.
                                </p>
                            </li><!-- .service-box-2 end -->
                        </ul>
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <img style="height: 400px;" src="{% static 'images/pics/iris.png' %}" alt=" Escaner de Iris" class="triggerAnimation animated img-center" data-animate="fadeInUp"/>
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <ul class="services-li">
                            <li class="service-box-7">
                                <div class="icon-container">
                                    <i class="fa fa-bolt triggerAnimation animated" data-animate='zoomIn'></i>
                                </div>

                                <a href=""><h4>Velocidad</h4></a>
                                <p>
                                    Los sistemas bométrico de reconocimiento ocular están catalogados como los más rápidos y eficientes.
                                </p>
                            </li><!-- .service-box-2 end -->

                            <li class="service-box-7">
                                <div class="icon-container">
                                    <i class="fa fa-ban triggerAnimation animated" data-animate='zoomIn'></i>
                                </div>

                                <a href=""><h4>Sistema no intrusivo</h4></a>
                                <p>
                                    El proceso de identificación es rápido y se realiza solo posicionando sus ojos en el escaner correspondiente.
                                </p>
                            </li><!-- .service-box-2 end -->

                            <li class="service-box-7">
                                <div class="icon-container">
                                    <i class="fa fa-plus triggerAnimation animated" data-animate='zoomIn'></i>
                                </div>

                                <a href=""><h4>Mucho Más...</h4></a>
                                <p>
                                    Contáctenos para conocer el resto de ventajas del uso de sistemas de reconocimeinto del Iris.
                                </p>
                            </li><!-- .service-box-2 end -->
                        </ul><!-- .services-li end -->
                    </div><!-- .col-md-4 end -->
                </div><!-- .row end -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-simple">
                            <span class="hr-simple-circle"></span>
                        </div>
                    </div><!-- .col-md-12 end -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading left">
                            <span class="heading-top">Tecnología y productos</span>
                            <h5>Contamos con productos y escaneres que cumplen los más altos niveles de efectividad y seguridad</h5>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
                


                 <div class="row">
                     <div class="col-md-8">
                     <h6><strong>SRI SARNOFF CORPORATION</strong></h6>
                     <p><strong>SRI Sarnoff</strong> es reconocido como uno de los laboratorios de investigación más importantes, colaborando con grades compañías y entidades del gobierno en el desarrollo de tecnologías de punta. </p>
                     </br>
                     <h6><strong>SRI IRIS ON THE MOVE</strong></h6>
                     
                     <div>
                      
                      
                      <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i>La línea IRIS On The Move de SRI permite la identificación mediante reconocimiento de IRIS a distancia (>80cm), con una altísima eficiencia en velocidad y seguridad de la identificación</li>
                            <li><i class="fa fa-li fa-check"></i>Fácilmente integrable con aplicaciones y sistemas de seguridad </li>
                            <li><i class="fa fa-li fa-check"></i>Sistema de identificación no intrusivo y en movimiento. No se requiere contacto alguno, basta con una rápida mirada al dispositivo</li>
                            <li><i class="fa fa-li fa-check"></i>Solución ideal para cualquier tipo de ambiente ya que no se ve afectado por condiciones ambientales o de iluminación</li>
                            <li><i class="fa fa-li fa-check"></i>Ofrece soluciones móviles de identificación</li>
                        </ul>
                     
                     </div> 
                    </div>
                    <!-- .col-md-3 start -->

                    <div class="col-md-2 triggerAnimation animated" data-animate="zoomIn">
                        <div class="img-circled img-bordered caption-hover"style="max-width: 200px;margin-bottom: 4px;">
                            <img src="{% static 'images/Sarnoff/sarnoff1.jpg' %}" alt="image circled">

                            <div class="caption">
                                <a href="http://www.sri.com/engage/products-solutions/iom-rapid-cam-ii-handheld-biometric-system" target="_blank"class="img-caption">IOM RapID-Cam™ II</a>
                            </div>
                        </div>
                        <div class="img-circled img-bordered caption-hover" style="max-width: 200px;margin-bottom: 4px;">
                            <img src="{% static 'images/Sarnoff/sarnoff2.jpg' %}" alt="image circled">

                            <div class="caption">
                                <a href="http://www.sri.com/engage/products-solutions/iom-n-glance-modular-system"  target="_blank" class="img-caption">IOM N-Glance™</a>
                            </div>
                        </div>
                    
                    </div><!-- .col-md-3 end -->
                    <div class="col-md-2 triggerAnimation animated" data-animate="zoomIn">
                        <div class="img-circled img-bordered caption-hover" style="max-width: 200px;margin-bottom: 4px;">
                            <img src="{% static 'images/Sarnoff/sarnoff3.jpg' %}" alt="image circled">

                            <div class="caption">
                                <a href="http://www.sri.com/engage/products-solutions/iom-pass-thru-drive-up-iris-recognition-system"  target="_blank" class="img-caption">IOM PassThru™</a>
                            </div>
                        </div>
                        <div class="img-circled img-bordered caption-hover" style="max-width: 200px;margin-bottom: 4px;">
                            <img src="{% static 'images/Sarnoff/sarnoff4.jpg' %}" alt="image circled">

                            <div class="caption">
                                <a href="http://www.sri.com/engage/products-solutions/iom-passport-portal-system"  target="_blank" class="img-caption">IOM PassPort™</a>
                            </div>
                        </div>
                    
                    </div><!-- .col-md-3 end -->


                </div><!-- .row end -->

                <!-- .row start -->
                
            </div><!-- .container end -->
        </div><!-- .page-content end -->
        <div class="page-content parallax dark parallax-colored">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .call-to-action start -->
                        <div class="call-to-action clearfix">
                            <div class="text">
                                <h2>¿Está usted interesado en trabajar con nosotros?</h2>
                                <p>
                                    Agendaremos una cita para atenderle de forma personalizada y ofrecerle nuestras soluciones a su problema.
                                </p>
                            </div>

                            <a href='{% url '/contacto.html' %}' class='btn btn-medium white empty'>
                                <span>CONTÁCTENOS</span>
                            </a>
                        </div><!-- .call-to-action end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->


{% endblock content %}


{% block scripts %}
 <script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4").removeClass("current-menu-item");
    $("#navbar2").addClass("current-menu-item");
    });
</script>
{% endblock scripts %}
