{% extends "base.html" %}
{% block title %}
<title>Sistemas y gestión de autenticación - ITA</title>
{% endblock %}
{% block description %}
<meta name="description" content="Soluciones para la Verificación, validación y recaudación de información Biometrica (reconocimiento de Huellas, Iris, y Facial) en Panamá y Colombia " />
{% endblock %}



{% block content %}

  <div class="tp-banner-container mb-0">
            <div id="rev-slider" class="tp-banner">
                <ul>
                    <!-- SLIDE ONE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/shutterstock/biometrica-shutterstock.jpg' %}"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <div class="tp-caption tp-big-heading tp-big-heading-bold sfl right"
                             data-x="350"
                             data-y="150"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <span style="font-size: 1.75em; font-weight:100; color: #fff;">Gestión en Soluciones de <br>Seguridad e Identificación<br></span>
                            <p style="font-size: 0.55em; color: #fff; font-weight:400; width: 50%; line-height: 25px;"><br>Diseñamos y configuramos sistemas inteligentes de vigilancia, autenticación <br>y reconocimiento de personas.<br><br></p>

                            <a class="btn btn-big empty white float-left" href="#page1">
                            <span>Conoce más</span></a>

                        </div>

                       <!-- <div class="tp-caption sfb"
                             data-x="0"
                             data-y="200"
                             data-speed="500"
                             data-start="1300"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slide1-2.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sfr"
                             data-x="75"
                             data-y="100"
                             data-speed="500"
                             data-start="1600"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slide1-3.png' %}" alt=""/>
                        </div>
                    </li> SLIDE ONE END -->


                </ul>
            </div><!-- .tp-banner end -->
        </div><!-- .tp-banner-container end -->

        <div class="page-content bkg-grey">
            <div class="container-fluid">
                <div class="row">
                     <a href="#valida"><div class="col-md-3 custom-background bkg-darkblue dark mt-0">
                       <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-hand-o-up"></i>
                            </div>

                            <div class="text-container">
                                <p>Seguridad <span class="big">Biométrica</span> </p>
                            </div><!-- .text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end --></a>

                     <a href="#facefirst"><div class="col-md-3 custom-background bkg-blue dark mt-0">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-video-camera"></i>
                            </div>

                            <div class="text-container">
                                <p>Integración de <span class="big">Cámaras</span> </p>
                             
                            </div><!-- text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end --></a>

                     <a href="#iris"><div class="col-md-3 custom-background bkg-darkblue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-plane"></i>
                            </div>

                            <div class="text-container">
                                <p>Soluciones para <span class="big">Migración</span> </p>
                            </div><!-- .text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end --></a>

                     <a href="#drones"><div class="col-md-3 custom-background bkg-blue dark mt-0">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-lock"></i>
                            </div>

                            <div class="text-container">
                                <p>Suministros en <br><span class="big">Alta Seguridad</span> </p>
                            </div><!-- text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end --></a>


                </div><!-- .row end -->
            </div><!-- .container-fluid end -->
        </div><!-- .page-content end -->

        <div class="page-content parallax parallax-15 padding-0 bkg-grey">
            <div class="container">
                <div class="row mb-0">

                    <div class="col-md-3">
                        <img src="{% static 'images/sb/validat.jpg' %}" alt="Valida"/>


                    </div><!-- .col-md-6 end -->
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading left" id="valida">
                            <span class="heading-top">Seguridad Biométrica</span>
                            <h3>Configuramos sistemas de identificación y autenticación biométrica avanzada, para control de multitudes, grupos o individuos específicos, a través de tecnología para el  reconocimiento facial, dactilar, e iris humano.</h3>
                        </section><!-- .fancy-heading end -->

                        
                       
                        <br /><br /><br />
                        <br />
                    </div><!-- .col-md-6 end -->
                </div><!-- .row end -->
                
                
                <div class="row">
                    <div class="col-md-12">
                     <div style="">
                      
                           
                        <div class="service-box-2 col-md-4">
                            <div class="icon-container">
                                <i class="linecons-tablet"></i>
                            </div>
                            
                            <div class="text-container">
                                <h4>Reconocimiento Facial</h4>
                                <h6>Aplicaciones informáticas basadas en múltiples algoritmos biométricos, diseñadas para la lectura, análisis y reconocimiento de rostros que compara con bases de datos.</h6>
                               
                            </div><!-- .text-container end -->
                        </div><!-- .service-box-4 end -->
                     
                      
                        <div class="service-box-2 col-md-4">
                            <div class="icon-container">
                                <i class="linecons-browser"></i>
                            </div>
                            
                            <div class="text-container">
                                <h4>Iris</h4>
                                <h6>Aplicación para la autenticación biométrica de individuos, a través de lectura de los patrones existentes en la capa arbórea que se halla en los ojos. Un sistema de comprobada eficacia en la identificación positiva de personas.</h6>
                               
                            </div><!-- .text-container end -->
                        </div><!-- .service-box-4 end -->
                     
                        
                        <div class="service-box-2 col-md-4">
                            <div class="icon-container">
                                <i class="linecons-puzzle"></i>
                            </div>
                            
                            <div class="text-container">
                                <h4>Dactilar</h4>
                                <h6>Aplicación biométrica de identificación, basada en el reconocimiento de características físicas que se hallan en la superficie de los dedos, que esta tecnología convierte en una representación matemática para comparar con bases de datos.</h6>
                                
                            </div><!-- .text-container end -->
                        </div><!-- .service-box-4 end -->
                 

                    </div><!-- .col-md-4 end -->
                     
                     </div> 
                   
                  
                </div><!-- .row end -->

                
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

 <div class="page-content dark mb-30 scroll-0" style="background-image: url('{% static 'images/shutterstock/Paralax/integracamaras2.jpg'%}')">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                           
                           <span class="heading-top" style="font-size: 2em; "><br><br>Integración de cámaras de seguridad</span>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->

                
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->


       <!-- .page-content start -->
        <div class="page-content custom-background bkg-grey">
            <!-- .container start -->
            <div class="container"> 
                <div class="row">
                    <div class="col-md-3">
                        <!-- .fancy-heading start -->

                        <section class="fancy-heading center" id="facefirst">

                      <img src="{% static 'images/sb/facefirst.jpg' %}" alt="Face First"
                      />
                            <span class="heading-top "></span>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                    <!-- .col-md-4 start -->
                    <div class="col-md-1"></div>

                    <!-- .col-md-4 start -->
                    <div class="col-md-8">
                         <h3>
                            Lo último en videovigilancia urbana:<br>
                        </h3>
                        <h6>
                        <br>
                            Configuramos nuevos adelantos tecnológicos para la integración ilimitada de cámaras de video vigilancia urbana provistas de botones de pánico, con centrales de monitoreo de la policía, dotadas de servidores de almacenamiento de datos  24/7 para ampliar la capacidad policiva y judicial.

                        </h6>
                    </div>
                </div><!-- .row end -->

                 <!-- .row start -->
                    
                        
                </div><!-- .row end -->

            </div><!-- .container end -->
        </div><!-- .page-content end -->
       
        <div class="page-content section-title-container dark mb-80 scroll-0" id="iris" style="background-image: url('{% static 'images/shutterstock/Paralax/solumigra.jpg'%}')">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-80">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top" style="font-size: 2em; "><br>Soluciones para Migración en Aeropuertos</span>
                          
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
                
                

                
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

       

        <div class="page-content bkg-grey" >
            <div class="container mt-80">

                
                <div class="row">
                <div class="col-md-2">
                    <!-- .col-md-4 start -->
                    <!-- .col-md-4 start -->
                        <img src="{% static 'images/pics/iris.png' %}" alt=" Escaner de Iris" class="triggerAnimation animated img-center" data-animate="fadeInUp"/>
     

                    <!-- .col-md-4 start -->
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-9"><h3 class="mb-80">
                        Agilización y mayor alcance en los procesos de migración:
                    </h3>
                    <h6>Implementamos soluciones eficientes en aeropuertos para agilizar y descongestionar el paso de viajeros por las áreas de Migración, a través de sistemas de autenticación de ciudadanos registrados, para validar su pasaporte en kioscos especiales diseñados para este fin.</h6>
                    <br>

                    <h3>
                        Programas especiales:
                    </h3>

                     <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i><h5>Panamá Entry </h5></li>
                            <li><i class="fa fa-li fa-check"></i><h5>Global Entry </h5></li>
                        </ul>


                    </div>
                </div><!-- .row end -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-simple">
                            <span class="hr-simple-circle"></span>
                        </div>
                    </div><!-- .col-md-12 end -->
                </div>

                </div><!-- .row end -->

                <!-- .row start -->
                
            </div><!-- .container end -->
        </div><!-- .page-content end -->

  
        <div class="page-content dark" id="drones" style="background-image: url('{% static 'images/shutterstock/Paralax/equiposaltaseguridad.jpg'%}')">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top" style="font-size: 2em; "><br>Suministros en Alta Seguridad</span>
                            <span><br>Ofrecemos los más recientes desarrollos en equipamiento especializado para alta seguridad.</span>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
                
                

                
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

 <div class="page-content bkg-grey" >
            <div class="container mt-80">
                
                <div class="row">
                     <div class="col-md-12" >
                      <div class="row">
                       <div class="col-md-6">
                        <div class="service-image-box">
                            <img src="{% static 'images/Sarnoff/sarnoff2.jpg' %}" alt=""/>

                            <div class="simple-heading left">
                                <h3>Drones:</h3>
                            </div>

                            <p>
                                Mixed comes with pixel perfect design ready for 
                                any business use. There is a large
                                scale of layouts you can choose from which are 
                                made to be useful and professional.
                            </p>
                        </div><!-- .service-image-box end -->
                    </div><!-- .col-md-4 end -->
                    <div class="col-md-6">
                        <div class="service-image-box">
                            <img src="{% static 'images/Sarnoff/sarnoff2.jpg' %}" alt=""/>

                            <div class="simple-heading left">
                                <h3>Cámaras para video vigilancia urbana:</h3>
                            </div>

                            <p>
                                Mixed comes with pixel perfect design ready for 
                                any business use. There is a large
                                scale of layouts you can choose from which are 
                                made to be useful and professional.
                            </p>
                        </div><!-- .service-image-box end -->
                    </div><!-- .col-md-4 end -->
                      </div>
                      <div class="row">
                       <div class="col-md-6">
                        <div class="service-image-box">
                            <img src="{% static 'images/Sarnoff/sarnoff2.jpg' %}" alt=""/>

                            <div class="simple-heading left">
                                <h3>Centrales de video vigilancia:</h3>
                            </div>

                            <p>
                                Mixed comes with pixel perfect design ready for 
                                any business use. There is a large
                                scale of layouts you can choose from which are 
                                made to be useful and professional.
                            </p>
                        </div><!-- .service-image-box end -->
                    </div><!-- .col-md-4 end -->
                    <div class="col-md-6">
                        <div class="service-image-box">
                            <img src="{% static 'images/Sarnoff/sarnoff2.jpg' %}" alt=""/>

                            <div class="simple-heading left">
                                <h3>Control de acceso:</h3>
                            </div>

                            <p>
                                Mixed comes with pixel perfect design ready for 
                                any business use. There is a large
                                scale of layouts you can choose from which are 
                                made to be useful and professional.
                            </p>
                        </div><!-- .service-image-box end -->
                    </div><!-- .col-md-4 end -->
                      </div>
                    </div>
                    <!-- .col-md-3 start -->

                  
                


                </div><!-- .row end -->

                <!-- .row start -->
                
            </div><!-- .container end -->
        </div><!-- .page-content end -->
        <div class="page-content parallax dark parallax-colored">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .call-to-action start -->
                        <div class="call-to-action clearfix">
                            <div class="text">
                                <h2>¿Le interesan nuestras soluciones?</h2>
                                <p>
                                    Agendaremos una cita para atenderle de forma personalizada y ofrecerle nuestras soluciones a su problema.
                                </p>
                            </div>

                            <a href='{% url '/contacto.html' %}' class='btn btn-medium white empty'>
                                <span style="font-size: 1em; font-weight: lighter; color: #fff;">CONTÁCTENOS</span>
                            </a>
                        </div><!-- .call-to-action end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->


{% endblock content %}


{% block scripts %}
 <script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4, #navbar5, #navbar6").removeClass("current-menu-item");
    $("#navbar3").addClass("current-menu-item");
    });
</script>
<script type="text/javascript">
    $('a[href^="#"]').on('click', function(event) {

        var target = $( $(this).attr('href') );

        if( target.length ) {
            event.preventDefault();
            $('html, body').animate({
                scrollTop: target.offset().top -150
            }, 1000);
        }

    });
</script>
{% endblock scripts %}
