{% extends "base.html" %}
{% block title %}
<title>S.A.R Software de administración de Rentas - ITA</title>
{% endblock %}
{% block description %}
<meta name="description" content="Nuestra sistema S.A.R. es un desarrollo de software especializado en el manejo de los módulos tributarios de entidades territoriales." />
{% endblock %}


{% block content %}

  <div class="tp-banner-container mb-0">
            <div id="rev-slider" class="tp-banner">
                <ul>
                    <!-- SLIDE ONE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/pics/parallax4.jpg' %}"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <div class="tp-caption tp-big-heading tp-big-heading-bold sfl"
                             data-x="0"
                             data-y="232"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <span style="font-size:70px; font-weight:100; color: #fff;">S.A.R</span> <br /> Soluciones de Gestión Tributaria</br><span style="font-size:18px; color: #fff; font-weight:400;">Software administrativo de Rentas</span>

                        </div>

                        <!--<div class="tp-caption sfb"
                             data-x="500"
                             data-y="110"
                             data-speed="500"
                             data-start="1300"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slide1-2.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sfr"
                             data-x="735"
                             data-y="67"
                             data-speed="500"
                             data-start="1600"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slide1-3.png' %}" alt=""/>
                        </div>-->
                    </li><!-- SLIDE ONE END -->


                </ul>
            </div><!-- .tp-banner end -->
        </div><!-- .tp-banner-container end -->

        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 custom-background bkg-darkblue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-desktop"></i>
                            </div>

                            <div class="text-container">
                                <p>Tecnología .NET</p>
                                <span class="big">CLIENTE/SERVIDOR</span>
                            </div><!-- .text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end -->

                    <div class="col-md-4 custom-background bkg-blue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-globe"></i>
                            </div>

                            <div class="text-container">
                                <p>Acceso desde cualquier dispositivo</p>
                                <span class="big">WEB INTERFACE</span>
                            </div><!-- text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end -->

                    <div class="col-md-4 custom-background bkg-darkblue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-life-ring"></i>
                            </div>

                            <div class="text-container">
                                <p>Incluye sistema de tickets</p>
                                <span class="big">HELPDESK</span>
                            </div><!-- .text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end -->
                </div><!-- .row end -->
            </div><!-- .container-fluid end -->
        </div><!-- .page-content end -->

        <!-- .page-content start -->
        <div class="page-content">
            <!-- .container start -->
            <div class="container">    
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading left">
                            <span class="heading-top">Software de Administración de Rentas.</span>
                            <h1>Nuestra sistema <strong>S.A.R.</strong> es un desarrollo de software especializado en el  manejo de los módulos  tributarios de entidades territoriales. </h1>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->

                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-2">


                            <h4>DEFINICIÓN DEL PRODUCTO</h4>
                            <p>
                                SAR es una herramienta tecnológica que ayuda  a  la <strong>Modernización y Optimización de los Impuestos municipales y departamentales</strong> a través de un software especializado en el manejo de Impuestos, con tecnología de punta y recursos profesionales de sistematización y asesoría en asistencia tributaria integral enfocado al resultado, a través de la eficiencia y la modernización de los procesos en busca de la satisfacción de usuarios y/o clientes.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                    <h6><br><strong>OBJETIVOS Y BENEFICIOS</strong></h6>
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i>Mejorar el servicio al usuario (Ciudadanos y Empresas)</li>
                            <li><i class="fa fa-li fa-check"></i>Automatizar la gestión tributaria</li>
                            <li><i class="fa fa-li fa-check"></i>Cumplimiento de normativas y transparencia.</li>
                            <li><i class="fa fa-li fa-check"></i>Aprovechar el potencial de las nuevas tecnologías.</li>
                            <li><i class="fa fa-li fa-check"></i>Trabajar en colaboración y aprovechar los servicios compartidos.</li>
                            <li><i class="fa fa-li fa-check"></i>Aumentar la productividad de los empleados.</li>
                        </ul>
                    </div>
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                    <h6><br><br></h6>
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i>Incrementar los niveles de ingresos y recaudos.</li>
                            <li><i class="fa fa-li fa-check"></i>Agilización y simplificación de operaciones.</li>
                            <li><i class="fa fa-li fa-check"></i>Mejoramiento de los tiempos de proceso.</li>
                            <li><i class="fa fa-li fa-check"></i>Minimizar el error humano en el manejo de datos o de información.</li>
                            <li><i class="fa fa-li fa-check"></i>Aumentar la eficiencia operativa</li>
                        </ul>
                    </div>
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->
        <div class="page-content parallax parallax-6 dark mb-80 center" data-stellar-background-ratio="1.0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">NECESIDADES DE SERVICIO</span>
                            <h3>Acceso y perfiles para cada una de los roles claves en la Administración territorial</h3>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->

                <!-- .row start -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="process-perspective">
                            <div class="icon triggerAnimation animated" data-animate="zoomIn">
                                <div class="circle-up">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="circle-inner"></div>
                            </div>

                            <h4>Funcionarios de Hacienda</h4>

                            <p>
                                Trabajadores públicos de ministerios o departamentos encargados de la recaudación de impuestos.
                            </p>
                        </div><!-- .process-perspective end -->
                    </div><!-- .col-md-4 end -->

                    <div class="col-md-4">
                        <div class="process-perspective">
                            <div class="icon animated triggerAnimation" data-animate="zoomIn">
                                <div class="circle-up">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="circle-inner"></div>
                            </div>

                            <h4>Jefes de gabinete </h4>

                            <p>
                                Acceso a mayor cantidad de datos y reportes para los jefes de entidades públicas tributarias.
                            </p>
                        </div><!-- .process-perspective end -->
                    </div><!-- .col-md-4 end -->

                    <div class="col-md-4">
                        <div class="process-perspective">
                            <div class="icon triggerAnimation animated" data-animate="zoomIn">
                                <div class="circle-up">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="circle-inner"></div>
                            </div>

                            <h4>Contribuyentes</h4>

                            <p>
                                Acceso a historial o solicitudes y pago de impuesto para personas naturales o empresas del país.
                            </p>
                        </div><!-- .process-perspective end -->
                    </div><!-- .col-md-4 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'images/sar/modulos.png' %}" alt="S.A.R Módulos" style="width:93%;"/>
                    </div><!-- .col-md-4 end -->

                    <div class="col-md-8">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading left">
                            <span class="heading-top">MÓDULOS DE LA APLICACIÓN</span>
                            <h2>Gestión integral del procesos de cobro y pago de Impuestos</h2>
                        </section><!-- .fancy-heading end -->

                        <!-- .infobox start -->
                        <div class="infobox-default">
                            <div class="icon-container">
                                <i class="linecons-lightbulb"></i>
                            </div>

                            <div class="notification-container">
                                <p>
                                    SAR se adpata a sus necesidades y nuestra amplia gama de módulos y complementos nos permiten ofrecer una gestión completa de los procesos tributarios, pero ajustada a sus necesidades.
                                </p>
                            </div><!-- .notification-container end -->
                        </div><!-- .infobox-default end -->

                        <br />
						
						<h6><strong>DESCRIPCIÓN DE MÓDULOS</strong></h6>
						<div class="col-md-12 clearfix">
                        <ul class="tabs vertical">
                            <li class="active">
                                <a href="#tab1">Quejas y Reclamos</a>
                            </li>
                            <li class="">
                                <a href="#tab2">Pin Virtual</a>
                            </li>
                            <li class="">
                                <a href="#tab3">Impuesto de Registro</a>
                            </li>
							<li class="">
                                <a href="#tab4">Atención y Liquidación</a>
                            </li>
							<li class="">
                                <a href="#tab5">Control</a>
                            </li>
							<li class="">
                                <a href="#tab6">Gestión Tributaria - Web</a>
                            </li>
							<li class="">
                                <a href="#tab7">Conectividad Contable</a>
                            </li>
							<li class="">
                                <a href="#tab8">Auditoria y Seguridad</a>
                            </li>
                        </ul><!-- .tabs end -->
                        
                        <!-- .tabs-content-wrap start -->
                        <div class="tab-content-wrap vertical">
                            <!-- #tab1 content start -->
                            <div id="tab1" class="tab-content" style="display: block;">
							<section class="fancy-heading center">
								<span class="heading-top" style="font-weight:400;">quejas Y Reclamos</span>
								
							</section>
                                <img src="{% static 'images/sar/quejasbg.png' %}" class="float-left" alt="Módulo quejas y reclamos" style="width: 100px;margin-top: 6px;border-radius: 3px;">
                                <p>
                                <p>
                                    Una sistema mediante el cual los usuarios del sistema o contribuyentes pueden realizar sus peticiones, solicitudes o reclamos de forma rápida y optimizada.

                                    <br><br>

                                    La herramienta cuenta con funciones de seguimiento y estados de solicitud para de esta forma ofrecer un servicio eficaz.
                                </p>
								<h6>FUNCIONES DEL MÓDULO</h6>
								<ul class="fa-ul">
									<li><i class="fa fa-li fa-check"></i>RADICACION.</li>
									<li><i class="fa fa-li fa-check"></i>RESPUESTAS DEL RADICADO.</li>
									<li><i class="fa fa-li fa-check"></i>SEGUIMIENTO Y CONTROL DE LAS SOLICITUDES DE LOS CONTRIBUYENTES.</li>
								</ul>
                            </div><!-- #tab1 content end -->

                            <!-- #tab1 content start -->
                            <div id="tab2" class="tab-content" style="display: block;">
							<section class="fancy-heading center">
								<span class="heading-top" style="font-weight:400;">Pin Virtual</span>
								
							</section>
                                <img src="{% static 'images/sar/pinbg.png' %}" class="float-left" alt="Módulo pin virtual" style="width: 100px;margin-top: 6px;border-radius: 3px;">
                                <p>
                                <p>
                                    Comprende un sistema de firma y autenticación de operaciones o transacciones en dentro de SAR.

                                    <br><br>

                                    El <strong>Pin Virtual es documento electrónico</strong>, mediante el cual se liquidará, pagará y autorizará cualquier tipo de tramite, estampillas, registro de documentos, licencias, derechos y otros conceptos que contengan un acto o documento gravado con los mismos.

                                </p>

                            </div><!-- #tab1 content end -->

                            <!-- #tab1 content start -->
                            <div id="tab3" class="tab-content" style="display: block;">
							<section class="fancy-heading center">
								<span class="heading-top" style="font-weight:400;">Impuesto de Registro</span>
								
							</section>
                                <img src="{% static 'images/sar/registrobg.png' %}" class="float-left" alt="Módulo impuestos de registro" style="width: 100px;margin-top: 6px;border-radius: 3px;">
                                <p>
                                <p>
                                    El contribuyente solicita la liquidación del impuesto, entrega los documentos soporte del trámite en la recepción, se digitaliza los documentos entregados y posteriormente al azar, se asigna la transacción a un liquidador quien identifica los actos y genera la liquidación: esta liquidación es validada y aprobada por el personal de verificación y se genera el recibo que se imprime y se envía al banco. 
                                </p>

                            </div><!-- #tab1 content end -->
							<div id="tab4" class="tab-content" style="display: block;">
							<section class="fancy-heading center">
								<span class="heading-top" style="font-weight:400;">Atención y Liquidación</span>
								
							</section>
                                <img src="{% static 'images/sar/liquidacionbg.png' %}" class="float-left" alt="Módulo Atención y Liquidación" style="width: 100px;margin-top: 6px;border-radius: 3px;">
                                <p>
                                <p>
                                    En este módulo se llevan a cabo y contralan las siguientes etapas del proceso de liquidación tributaria:
								</br></br></br></br>
                                </p>
								<h6>FUNCIONES DEL MÓDULO</h6>
								<ul class="fa-ul">
									<li><i class="fa fa-li fa-check"></i>Efectuar la liquidación del impuesto con sus tasas.</li>
									<li><i class="fa fa-li fa-check"></i>Parametrización del impuesto y sus tarifas.</li>
									<li><i class="fa fa-li fa-check"></i>Configuración de los actos y datos adicionales para el correcto cálculo del impuesto.</li>
									<li><i class="fa fa-li fa-check"></i>Generación de recibos de liquidación del impuesto.</li>
									<li><i class="fa fa-li fa-check"></i>Almacena y registra las imágenes documentales como garantía del reporte físico de operaciones diarias.</li>
								</ul>

                            </div><!-- #tab1 content end -->
							<div id="tab5" class="tab-content" style="display: block;">
							<section class="fancy-heading center">
								<span class="heading-top" style="font-weight:400;">Control</span>
								
							</section>
                                <img src="{% static 'images/sar/controlbg.png' %}" class="float-left" alt="Módulo de control" style="width: 100px;margin-top: 6px;border-radius: 3px;">
                                <p>
                                <p>
                                    En este módulo se llevan a cabo y contralan las siguientes etapas del proceso de liquidación tributaria:
								</br></br></br></br>
                                </p>
								<h6>FUNCIONES DEL MÓDULO</h6>
								<ul class="fa-ul">
									<li><i class="fa fa-li fa-check"></i>Control de liquidación sobre los actos exentos del impuesto y las autorizadas.</li>
									<li><i class="fa fa-li fa-check"></i>Control de las modificaciones de la liquidación de recibos del contribuyente.</li>
									<li><i class="fa fa-li fa-check"></i>Control sobre el proceso de devolución de un pago.</li>
									<li><i class="fa fa-li fa-check"></i>Control y enlace entre los recibos de pagos y los bancos.</li>
								</ul>
                            </div><!-- #tab1 content end -->
							<div id="tab6" class="tab-content" style="display: block;">
							<section class="fancy-heading center">
								<span class="heading-top" style="font-weight:400;">Gestión Tributaria Web</span>
								
							</section>
                                <img src="{% static 'images/sar/webbg.png' %}" class="float-left" alt="Módulo gestión web" style="width: 100px;margin-top: 6px;border-radius: 3px;">
                                <p>
                                <p>
                                    Ofrece una interfaz accesible desde cualquier navegador web, lo que hace accesible nuestro sistema desde casi cualquier dispositivo con conexión de red.
                                    <br><br><br>
                                </p>
								<h6>OPERACIONES DISPONIBLES</h6>
								<ul class="fa-ul">
									<li><i class="fa fa-li fa-check"></i>Consulta de impuestos.</li>
									<li><i class="fa fa-li fa-check"></i>Declaración de impuestos.</li>
									<li><i class="fa fa-li fa-check"></i>Pagos.</li>
									<li><i class="fa fa-li fa-check"></i>Estudios de cuenta.</li>
									<li><i class="fa fa-li fa-check"></i>Histórico de pago.</li>
								</ul>
                            </div><!-- #tab1 content end -->
							<div id="tab7" class="tab-content" style="display: block;">
							<section class="fancy-heading center">
								<span class="heading-top" style="font-weight:400;">Conectividad Contable</span>
								
							</section>
                                <img src="{% static 'images/sar/conectividadbg.png' %}" class="float-left" alt="Módulo de conectividad contable" style="width: 100px;margin-top: 6px;border-radius: 3px;">
                                <p>
                                    <strong>SAR</strong>, cuenta con un sistema de captura de pagos y control del mismo con las interfaces necesarias para intercambiar información financiera con otros sistemas, facilitando la integración con procesos externos como lo es la contabilidad.
                                    <br><br>
                                </p>
								
                            </div><!-- #tab1 content end -->
							<div id="tab8" class="tab-content" style="display: block;">
							<section class="fancy-heading center">
								<span class="heading-top" style="font-weight:400;">Auditoría y Seguridad</span>
								
							</section>
                                <img src="{% static 'images/sar/seguridadbg.png' %}" class="float-left" alt="Módulo de seguridad y auditoría" style="width: 100px;margin-top: 6px;border-radius: 3px;">
                                <p>
                                <p>
                                    La aplicación <strong>SAR</strong>, permite confirmar y garantizar el correcto funcionamiento de procesos y procedimientos mediante procesos de auditoria, que permiten ejecutar reportes para el seguimiento de las operaciones, de igual manera cuenta con log de auditoria para seguimiento de transacciones
                                    <br>
                                </p>
								<h6>OPERACIONES AUDITORIA Y SEGURIDAD</h6>
								<ul class="fa-ul">
									<li><i class="fa fa-li fa-check"></i>Cuentas de usuario.</li>
									<li><i class="fa fa-li fa-check"></i>Perfiles de Usuario.</li>
									<li><i class="fa fa-li fa-check"></i>Reportes de Auditoria.</li>
								</ul>
                            </div><!-- #tab1 content end -->
                        </div><!-- .tab-content-wrap end -->
                    </div>

                    </div><!-- .col-md-8 end -->
                </div><!-- .row end -->


            </div><!-- .container end -->
        </div><!-- .page-content end -->
        <div class="page-content parallax parallax-2 dark" data-stellar-background-ratio="1.0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">Recaudo y Reportes</span>
                            <h3>Conectividad con sistemas financieros externos y realización de pagos online</h3>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
                
                

                
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

        <div class="page-content custom-background bkg-grey" data-stellar-background-ratio="1.4">
            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                    <section class="fancy-heading center">
                            <span class="heading-top" style="font-weight:600;">RECAUDO</span>
                            
                     </section><!-- .fancy-heading end -->
                     <img style="height:230px; margin-left: auto;margin-right: auto; border:5px solid #DDDDDD;" src="{% static '/images/sar/recaudo.jpg' %}">
                     <div style="max-width:400px;margin-left: auto;margin-right: auto;"></br>
                      <p><strong>S.A.R.</strong> integra con las conectividades y especificaciones propias de las necesidades operativas para la modernización de las operaciones de Recaudo y conectividades con otros subsistemas existentes</p></br>
                      <h6>BENEFICIOS</h6>
                      <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i>Variedad de métodos de pagos.</li>
                            <li><i class="fa fa-li fa-check"></i>Centralización de la información del Recaudo.</li>
                            <li><i class="fa fa-li fa-check"></i>Facilita conciliación Bancaria.</li>
                            <li><i class="fa fa-li fa-check"></i>Ofrece información estadística.</li>
                            <li><i class="fa fa-li fa-check"></i>Disminución de fraude.</li>
                            <li><i class="fa fa-li fa-check"></i>Consulta Online de los ingresos.</li>
                        </ul>
                     
                     </div> 
                    </div>
                    <div class="col-md-6">
                      <section class="fancy-heading center">
                            <span class="heading-top" style="font-weight:600;">REPORTES</span>
                            
                     </section><!-- .fancy-heading end -->  
                     <img style="height:230px; margin-left: auto;margin-right: auto;border:5px solid #DDDDDD;" src="{% static '/images/sar/reportes.jpg' %}">
                     <div style="max-width:400px;margin-left: auto;margin-right: auto;"></br>
                      <p>Los usuarios tendrán a su disposición herramientas para la nspección y generación de reportes - informes con los siguientes áreas de consulta:</p></br>
                      <h6>TIPOS DE REPORTE</h6>
                      <ul class="fa-ul">
                            <li><i class="fa fa-li fa-file-text-o"></i>Notas por banco y sucursal.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Informe de recaudo por banco.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Informe de recaudo diario.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Comparativo de recaudo.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Historial de recaudo por vigencia.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Comparativo de recaudo mensual.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Recaudo global mensual.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Resumen de recaudo actual.</li>
                        </ul>
                     
                     </div> 
                    </div>
                </div><!-- .row end -->

                <!-- .row start -->
                
            </div><!-- .container end -->
        </div><!-- .page-content end -->


        <div class="page-content parallax dark parallax-colored">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .call-to-action start -->
                        <div class="call-to-action clearfix">
                            <div class="text">
                                <h2>¿Está usted interesado en trabajar con nosotros?</h2>
                                <p>
                                    Agendaremos una cita para atenderle de forma personalizada y ofrecerle nuestras soluciones a su problema.
                                </p>
                            </div>

                            <a href='{% url '/contacto.html' %}' class='btn btn-medium white empty'>
                                <span>CONTÁCTENOS</span>
                            </a>
                        </div><!-- .call-to-action end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->


 




{% endblock content %}


{% block scripts %}
 <script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4").removeClass("current-menu-item");
    $("#navbar2").addClass("current-menu-item");
    });
</script>
{% endblock scripts %}
