{% extends "base.html" %}
{% block title %}
<title>S.A.R Software de administración de Rentas - ITA</title>
{% endblock %}
{% block description %}
<meta name="description" content="S.A.R. es un software especializado en el manejo sistemas de impuestos estatales. Abarcamos todas los roles que intervienen en los procesos tributarios" />
{% endblock %}


{% block content %}

  <div class="tp-banner-container mb-0">
            <div id="rev-slider" class="tp-banner">
                <ul>
                    <!-- SLIDE ONE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/shutterstock/sar-shutterstock.jpg' %}"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <div class="tp-caption tp-big-heading tp-big-heading-bold sfl"
                             data-x="500"
                             data-y="50"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                              >
                            <span style="font-size: 1.55em; font-weight:10; color: #fff;">Gestión Informática<br> de Soluciones Hacendarias <br>y Recaudo</span><br><p style="font-size: 0.55em; color: #fff; font-weight:400; width: 50%; line-height: 25px;"><br><br>Implementamos software modular de última generación para elevar<br> los volúmenes de recaudos, mejorar los procesos tributarios<br> y aumentar la recuperación de carteras de tránsito en municipios,<br> departamentos y provincias.</p><br><br>

                             <a class="btn btn-big empty white float-left mt-50" href="#page1">
                            <span>Conoce más</span></a>
                            
                        </div>
                       


                        <!--<div class="tp-caption sfb"
                             data-x="500"
                             data-y="110"
                             data-speed="500"
                             data-start="1300"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slide1-2.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sfr"
                             data-x="735"
                             data-y="67"
                             data-speed="500"
                             data-start="1600"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slide1-3.png' %}" alt=""/>
                        </div>-->
                    </li><!-- SLIDE ONE END -->


                </ul>
            </div><!-- .tp-banner end -->
        </div><!-- .tp-banner-container end -->

        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                      <a href="#page1"><div class="col-md-4 custom-background bkg-darkblue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-university"></i>
                            </div>

                            <div class="text-container">
                                <p>Gestión de Procesos<br><span class="big">Hacendarios</span></p>
                                
                            </div><!-- .text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end --></a>

                    <a href="#page2"><div class="col-md-4 custom-background bkg-blue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-bus"></i>
                            </div>

                            <div class="text-container">
                                <p>Gestión Integral de Carteras de<br><span class="big">Tránsito  y Transporte</span> </p>
                                
                            </div><!-- text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end --></a>

                    <a  href="#page3"><div class="col-md-4 custom-background bkg-darkblue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-money"></i>
                            </div>

                            <div class="text-container">
                                <p>Soluciones Informáticas de <br><span class="big">Recaudo y Hacienda</span></p>
                              
                            </div><!-- .text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end --></a>
                </div><!-- .row end -->
            </div><!-- .container-fluid end -->
        </div><!-- .page-content end -->

        <!-- .page-content start -->
        <div class="page-content">
            <!-- .container start -->
            <div class="container">    
                <div class="row">
					<div class="col-md-3">
                        <!-- .fancy-heading start -->
						<img src="{% static 'images/sar/logosar.png' %}" alt="S.A.R Logo">
                    </div><!-- .col-md-12 end -->
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading left" id="page1">
                            <span class="heading-top">Gestión de Procesos Hacendarios<br><br></span>
                            <h5>Ayudamos  a  la optimización  de los procesos hacendarios de los entes territoriales (Departamentos, Provincias, Municipios) a través de la plataforma SAR, software especializado con tecnología de punta, para la automatización de los procesos hacendarios y de recaudo.  </h5>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->

                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-2">


                            <h4 class="center">Características y Funciones</h4>
                            <p>
                               Esta solución esta diseñada y desarrollada en forma modular e integrada, con mas de 15 años de experiencia en los procesos de rentas, con funciones configuradas a las necesidades de las operaciones propias de cada organización. 
                            </p>
                        </div><!-- .service-box-2 end -->
                        <ul class="fa-ul">
                        <li><i class="fa fa-li fa-check"></i>Administración de todo tipo de Impuestos, parametrizable a la medida.</li>
                            <li><i class="fa fa-li fa-check"></i>Cuentas corrientes, para control de cambios y ajustes a los impuestos.</li>
                            <li><i class="fa fa-li fa-check"></i>Control y administración de cobro persuasivo.</li>
                            <li><i class="fa fa-li fa-check"></i>Control y administración de cobro coactivo.</li>
                             <li><i class="fa fa-li fa-check"></i>Control y administración de fiscalización y determinación de los tributos.</li>
                        </ul>
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                    <h4><br></h4>
                        <ul class="fa-ul">
                            
                           
                            <li><i class="fa fa-li fa-check"></i>Solicitud de Peticiones, Quejas y Reclamos (PQR).</li>
                             <li><i class="fa fa-li fa-check"></i>Radicación y Digitalización de documentos.</li>
                              <li><i class="fa fa-li fa-check"></i>Administración de Archivos físicos y virtuales.</li>
                               <li><i class="fa fa-li fa-check"></i>Administración de expedientes y gestión de respuestas.</li>
                                <li><i class="fa fa-li fa-check"></i>Pin virtual para generación, pago y seguimiento de documentos.</li>
                                <li><i class="fa fa-li fa-check"></i>Atención y liquidación al usuario.</li>
                                <li><i class="fa fa-li fa-check"></i>Consulta y reportes operativos y gerenciales.</li>
                                <li><i class="fa fa-li fa-check"></i>Conectividad y generación contable a cualquier sistema financiero.</li>
                                <li><i class="fa fa-li fa-check"></i>Auditoría y seguridad.</li>
                                <li><i class="fa fa-li fa-check"></i>Mesa de ayuda.</li>

                        </ul>
                    </div>
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                    <h4>Beneficios de la Plataforma<br></h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i>Mejorar el servicio al usuario.</li>
                            <li><i class="fa fa-li fa-check"></i>Aumentar la eficiencia operativa.</li>
                            <li><i class="fa fa-li fa-check"></i>Cumplimento de normativas y transparencia.</li>
                            <li><i class="fa fa-li fa-check"></i>Aprovechar el potencial de la tecnología y la conectividad.</li>
                            <li><i class="fa fa-li fa-check"></i>Aumentar la productividad de los funcionarios. </li>
                              <li><i class="fa fa-li fa-check"></i>Incrementar los niveles de ingresos.</li>
                                <li><i class="fa fa-li fa-check"></i>Agilización y simplificación de operaciones.</li>
                                  <li><i class="fa fa-li fa-check"></i>Mejoramiento de los tiempos de proceso de información.</li>
                                  <li><i class="fa fa-li fa-check"></i>Minimizar el error humano en el manejo de datos y liquidaciones.</li>
                                  <li><i class="fa fa-li fa-check"></i>Automatizar los procesos.</li>
                        </ul>
                    </div>
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->

        <div class="page-content scroll-0 dark " style="background-image: url('{% static 'images/shutterstock/biometrica-shutterstock.jpg'%}')">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span style="font-size: 2em; "><br></br>Necesidades del Servicio<br></br></span>
                            <span >Acceso y perfiles para cada una de los roles claves en la Administración territorial.</span>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->

                <!-- .row start -->
                <div class="row mb-30">
                    <div class="col-md-4">
                        <div class="process-perspective">
                            <div class="icon triggerAnimation animated" data-animate="zoomIn">
                                <div class="circle-up">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="circle-inner"></div>
                            </div>

                            <h4>Funcionarios de Hacienda</h4>

                            <p>
                                Trabajadores públicos de ministerios o departamentos encargados de la recaudación de impuestos.
                            </p>
                        </div><!-- .process-perspective end -->
                    </div><!-- .col-md-4 end -->

                    <div class="col-md-4">
                        <div class="process-perspective">
                            <div class="icon animated triggerAnimation" data-animate="zoomIn">
                                <div class="circle-up">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="circle-inner"></div>
                            </div>

                            <h4>Jefes de gabinete </h4>

                            <p>
                                Acceso a mayor cantidad de datos y reportes para los jefes de entidades públicas tributarias.
                            </p>
                        </div><!-- .process-perspective end -->
                    </div><!-- .col-md-4 end -->

                    <div class="col-md-4">
                        <div class="process-perspective">
                            <div class="icon triggerAnimation animated" data-animate="zoomIn">
                                <div class="circle-up">
                                    <i class="fa fa-user"></i>
                                </div>
                            <div class="circle-inner"></div>
                            </div>

                            <h4>Contribuyentes</h4>

                            <p>
                                Acceso a historial o solicitudes y pago de impuesto para personas naturales o empresas del país.
                            </p>
                        </div><!-- .process-perspective end -->
                    </div><!-- .col-md-4 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

        <div class="page-content mt-30">
            <div class="container">
                <div class="row">
					<div class="col-md-12">
						<section class="fancy-heading left" style="margin-bottom: 40px; padding-bottom: 10px;" id="page2">
                            <span class="heading-top">Gestión de Carteras de Tránsito  y Transporte</span>
                        </section><!-- .fancy-heading end -->
                        
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'images/sar/modulos2.png' %}" alt="S.A.R Módulos" style="width:90%; margin-top:20px;"/>
                    </div><!-- .col-md-4 end -->

                    <div class="col-md-8">

                        <!-- .infobox start -->
                        <div class="infobox-default">
                            <div class="icon-container">
                                <i class="linecons-lightbulb"></i>
                            </div>

                            <div class="notification-container">
                                <p>
                                    Contamos con un sistema especializado para brindar apoyo en el procesamiento de los datos relacionados con los procesos de recuperación de cartera de las Secretarías de Tránsito y Transporte. La plataforma S.A.R-Tránsito, es una herramienta poderosa diseñada para llevar a cabo y de una forma ágil los procesos de: cobro, peticiones, quejas y reclamos, cobro persuasivo, control de expedientes físicos, expedientes virtuales, y todas las demás actividades relacionadas con la gestión de cobranza.
                                </p>
                            </div><!-- .notification-container end -->
                        </div><!-- .infobox-default end -->

                        <br />
						
						<h6><strong>DESCRIPCIÓN DE MÓDULOS</strong></h6>
						<div class="col-md-12 clearfix">
                        <ul class="tabs vertical">
                            <li class="active">
                                <a href="#tab1">Implementación</a>
                            </li>
                            <li class="">
                                <a href="#tab2">Actividades operativas y asistenciales</a>
                            </li>
                            <li class="">
                                <a href="#tab3">Gestión de Cobranza</a>
                            </li>
                        </ul><!-- .tabs end -->
                        
                        <!-- .tabs-content-wrap start -->
                        <div class="tab-content-wrap vertical">
                            <!-- #tab1 content start -->
                            <div id="tab1" class="tab-content" style="display: block;">
							<section class="fancy-heading center">
								<span class="heading-top" style="font-weight:400;">Software</span>
								
							</section>
                                <img src="{% static 'images/sar/quejasbg.png' %}" class="float-left" alt="Módulo quejas y reclamos" style="width: 100px;margin-top: 6px;border-radius: 3px;">
                                <p>
                                <p>
                                   Implementación del software de Gestión de Cobranza para el procesamiento de los datos relacionados con la cartera de Tránsito, para procesar los datos de información con los procesos de cobranza, orientado al sector público con los aplicativos necesarios que permitan obtener mayor eficiencia en los aspectos misionales que cumple la Secretaría de Tránsito y Transporte, en su división de Gestión de Cobranza, para proveer de manera rápida y oportuna información confiable en la toma de decisiones administrativas que beneficien el incremento de ingresos  de la Secretaría.
                                </p>
				
							
                            </div><!-- #tab1 content end -->

                            <!-- #tab1 content start -->
                            <div id="tab2" class="tab-content" style="display: block;">
							<section class="fancy-heading center">
								<span class="heading-top" style="font-weight:400;">Actividades operativas y asistenciales</span>
								
							</section>
                                <img src="{% static 'images/sar/pinbg.png' %}" class="float-left" alt="Módulo pin virtual" style="width: 100px;margin-top: 6px;border-radius: 3px;">
                                <p>
                               
                                   Contamos con profesionales  y técnicos encargados de realizar la implementación, el levantamiento de información, el plan de trabajo, la actualización de parámetros básicos para la cartera y los ajustes a los sistemas de información de acuerdo a los parámetros de cada Secretaría de Tránsito y Transporte.

                                </p>

                            </div><!-- #tab1 content end -->

                            <!-- #tab1 content start -->
                            <div id="tab3" class="tab-content" style="display: block;">
							<section class="fancy-heading center">
								<span class="heading-top" style="font-weight:400;">Gestión de Cobranza</span>
								
							</section>
                                <img src="{% static 'images/sar/registrobg.png' %}" class="float-left" alt="Módulo impuestos de registro" style="width: 100px; margin-top: 6px; border-radius: 3px;">
                                <p>
                                <p>
                                   Incluimos el servicio del cobro para la recuperación de la Cartera de los Derechos de Tránsito, Comparendos, Foto multas.
                                </p>

                            </div><!-- #tab1 content end -->
							
                        </div><!-- .tab-content-wrap end -->
                    </div>

                    </div><!-- .col-md-8 end -->
                </div><!-- .row end -->


            </div><!-- .container end -->
        </div><!-- .page-content end -->
        <div class="page-content parallax dark" data-stellar-background-ratio="2.0" style="background-image: url('{% static 'images/shutterstock/sar-shutterstock.jpg'%}')">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center" id="page3">
                            <span style="font-size: 2em; ">Soluciones de Recaudo <br></br></span>
                            <span >Contamos con una herramienta moderna y de alta tecnología para el manejo del recaudo, con el fin de mejorar la facilidad, desempeño y capacidad de brindar servicios que respondan a las necesidades y expectativas de los clientes, en materia de recaudo, a la vez que fortalece la confiabilidad y la seguridad.</span>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

        <div class="page-content custom-background bkg-grey" data-stellar-background-ratio="1.4">
            <div class="container">

                <div class="row">
                 <section class="fancy-heading left">
                            <span class="heading-top" style="font-weight:600;">Características</span>
                            
                     </section><!-- .fancy-heading end -->
                    <div class="col-md-4">
                   
                     <img style="border:5px solid #DDDDDD;" src="{% static '/images/sar/recaudo.jpg' %}" alt="Recaudo"><br>
                     <ul class="fa-ul">
                        <li><i class="fa fa-li fa-check"></i><strong>Pagos Electrónicos: </strong>CPSE, Place to Pay , ACH, ATH, Tarjetas de crédito.</li>
                           
                        </ul>
                    </div>

                      <div class="col-md-4">                 
                      <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i><strong>Captura de pagos y control del mismo: </strong>Con las interfaces necesarias para intercambiar información financiera y no financiera con otros sistemas, facilita la integración con procesos externos como la contabilidad.</li>
                           <li><i class="fa fa-li fa-check"></i><strong>Fácil configuración a través de una interfaz dentro del sistema: </strong>Todo usuario autorizado, está en la capacidad de crear y agrupar las opciones presentadas de acuerdo a los parámetros que considere son más convenientes.</li>
                       
                            <li><i class="fa fa-li fa-check"></i><strong>Pagos con facturas o colillas de pago: </strong>Cumplen con normatividad legal como los formatos de la Asobancaria en Colombia.</li>
                            <li><i class="fa fa-li fa-check"></i><strong>Pagos por Cajeros Electrónico. </strong></li>
                            </ul>

                     
                     </div> 
                    <div class="col-md-4">
                      <ul class="fa-ul">
                             <li><i class="fa fa-li fa-check"></i><strong>Variedad de Métodos de Pagos: </strong>Su versatilidad permite la gestión de diversos procesos de pago.</li>
                           <li><i class="fa fa-li fa-check"></i><strong>Pagos por Corresponsales No Bancarios: </strong>Supermercados, Baloto por Asobancaria.</li>
                           <li><i class="fa fa-li fa-check"></i><strong>Pagos por Caja Única: </strong>Utiliza comunicación on line para la aplicación en cartera.</li>
                          
                           <li><i class="fa fa-li fa-check"></i><strong>Pagos por Caja en Línea: </strong>Permite ubicarse en los bancos de la sede principal de las alcaldías, bajo su responsabilidad, control y ejecución y se puede directamente por el software, la aplicación del pago en las bases de datos, con generación de paz y salvos instantáneos para los contribuyentes,  mediante comunicación a  través de la red LAN. Esta herramienta ha sido probada y ejecutada por el sector bancario.</li>
                        </ul>
                    </div>
                </div><!-- .row end -->

                <div class="row">
                 <section class="fancy-heading left">
                            <span class="heading-top" style="font-weight:600;">Servicios incluidos</span>
                            
                     </section><!-- .fancy-heading end -->  
                    <div class="col-md-6">
                   
                     <img style="height:230px; margin-left: auto;margin-right: auto;border:5px solid #DDDDDD;" src="{% static '/images/sar/reportes.jpg' %}" alt="Reportes">
                     <div style="max-width:400px;margin-left: auto;margin-right: auto;"><br>  
                     </div> 
                    </div>
                    <div class="col-md-6">
                      <p>En todos los proyectos que implementamos, nuestras soluciones ofrecen:</p><br>
                      <ul class="fa-ul">
                            <li><i class="fa fa-li fa-file-text-o"></i>Configuración de la plataforma tecnológica.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Migración de datos, instalación y configuración.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Capacitación técnica y de procesos.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Soporte y Mantenimiento.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Acompañamiento.</li>
                        </ul>
                     
                     </div> 
                    </div>
                </div><!-- .row end -->

                <!-- .row start -->
                
            </div><!-- .container end -->
        </div><!-- .page-content end -->


        <div class="page-content parallax dark parallax-colored">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .call-to-action start -->
                        <div class="call-to-action clearfix">
                            <div class="text">
                                <h2>¿Le interesan nuestros servicios?</h2>
                                <p>
                                    Agendaremos una cita para atenderle de forma personalizada y ofrecerle nuestras soluciones a su problema.
                                </p>
                            </div>

                            <a href='{% url '/contacto.html' %}' class='btn btn-medium white empty'>
                                <span style="font-size: 1em; font-weight: lighter; color: #fff;">CONTÁCTENOS</span>
                            </a>
                        </div><!-- .call-to-action end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->


 




{% endblock content %}


{% block scripts %}
 <script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4, #navbar5, #navbar6").removeClass("current-menu-item");
    $("#navbar3").addClass("current-menu-item");
    });
</script>
<script type="text/javascript">
    $('a[href^="#"]').on('click', function(event) {

        var target = $( $(this).attr('href') );

        if( target.length ) {
            event.preventDefault();
            $('html, body').animate({
                scrollTop: target.offset().top -150
            }, 1000);
        }

    });
</script>
{% endblock scripts %}
