{% extends "base.html" %}
{% block title %}
<title>Nosotros- Inversiones Tecnológicas de América</title>
{% endblock %}
{% block description %}
<meta name="description" content="ITA es una empresa seria que está a la vanguardia tecnológica. Somos una compañía innovadora que tiene la capacidad para ofrecer soluciones adecuadas en tecnología." />
{% endblock %}



{% block content %}

   

   <!-- #page-title.page-title-1 start -->
        <div id="page-title" class="page-title-1 mb-0" style="background-image: url('{% static 'images/shutterstock/aliados.jpg'%}')">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .title-container start -->
                        <section class="title-container">
                            <div class="title">
                                <h3>Nuestros Aliados</h3>
                                 <h1>
                                    Empresas y Servicios
                                </h1>
                            </div>
                        </section><!-- .title-container end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->    
                            
            </div><!-- .container end -->
            <div class="breadcrumbs-container">
                <!-- .CONTAINER START -->
                <div class="container">
                    <!-- .row start -->
                    <div class="row">
                        <!-- .col-md-12 start -->
                        <div class="col-md-12">
                            <ul class="breadcrumb">
                                <li>Usted está aquí:</li>
                                <li><a href="{% url '/index.html' %}">Inicio</a></li>
                                <li><span class="active">Aliados</span></li>
                            </ul><!-- .breadcrumb end -->
                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </div>

        </div><!-- #page-title.page-title-1 end -->

       
         <div class="page-content mt-80">
                <div class="container">
                    <div class="row mb-40">
                    <div class="col-md-3">
                        <div class="img-bordered">
                            <a href="http://www.alas-la.org/" target="_blank"><img src="{% static 'images/socios/alas.jpg' %}" alt="Seguridad y gestion ciudadana"></a>

                        </div >
                    </div>
                        <div class="col-md-9 end">
                            <!-- .fancy-heading start -->
                            <section class="fancy-heading">
                               <span style="font-size: 2em; color: #006B87;">
                                    Somos miembro activo de ALAS, Asociación Latinoamericana de Seguridad. <br></br>
                                </span>
                            </section><!-- .fancy-heading end -->
                            <p>Las soluciones que configuramos e implementamos, además de ser atendidas por nuestro recurso humano experto en nuevos desarrollos tecnológicos, cuenta con el respaldo de diferentes casas matrices europeas y norteamericanas especializadas en inteligencia artificial, al servicio de sectores como el de seguridad, entre otros de base TIC. Así garantizamos los resultados esperados por nuestros clientes, con un soporte técnico de primera línea.<br></p>
                        </div>
                    </div><!-- .row end -->

                    <!-- .row start -->
                    <div class="row">
                         <h3 style="color: #000"> Entre nuestros aliados principales, están:</h3>
                        <div class="col-md-3">
                            <div class="img-rounded img-bordered">
                                <a href="http://www.indigovision.org/" target="_blank"><img src="{% static 'images/sb/indigo_square.jpg' %}" alt="Seguridad y gestion ciudadana"></a>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="img-rounded img-bordered">
                                <a href="http://www.facefirst.com/" target="_blank"><img src="{% static 'images/socios/face-gris.jpg' %}" alt="Seguridad y gestion ciudadana"></a>

                            </div>
                        </div><!-- .col-md-4 end -->

                        <div class="col-md-3">
                            <div class="img-rounded img-bordered">
                                <a href="http://www.sri.com/" target="_blank"><img src="{% static 'images/socios/sarnoff-gris.jpg' %}" alt="Seguridad y gestion ciudadana"></a>

                            </div>

                        </div><!-- .col-md-4 end -->
                        <div class="col-md-3">
                             <div class="img-rounded img-bordered">
                                <a href="#" target="_blank"><img src="{% static 'images/socios/valida-gris.jpg' %}" alt="Seguridad y gestion ciudadana"></a>

                            </div>

                        </div><!-- .col-md-4 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </div><!-- .page-content.parallax end -->
            <div class="page-content parallax dark parallax-colored">
            <!-- .container start -->
            
            <div class="container">
                    <!-- .row start -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- .call-to-action start -->
                            <div class="call-to-action clearfix">
                                <div class="text">
                                    <h2>¿Interesado en alguno de nuestros servicios?</h2>
                                    <p>
                                        Agendaremos una cita para atenderle de forma personalizada y ofrecerle nuestras soluciones a su problema.
                                    </p>
                                </div>

                                <a href='{% url '/contacto.html' %}' class='btn btn-medium white empty'>
                                    <span style="font-size: 1em; font-weight: lighter; color: #fff;">Contáctenos</span>
                                </a>
                            </div><!-- .call-to-action end -->
                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </div><!-- .page-content end -->


        

{% endblock content %}
{% block scripts %}
 <script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4, #navbar5, #navbar6").removeClass("current-menu-item");
    $("#navbar4").addClass("current-menu-item");
    });
</script>
{% endblock scripts %}
