{% extends "base.html" %}
{% block title %}
<title>Contáctenos - Inversiones Tecnológicas de América</title>
{% endblock %}
{% block description %}
<meta name="description" content="Póngase en contacto con nosotros y le atenderemos de forma personalizada y le ofreceremos nuestras soluciones a su problema." />
{% endblock %}



{% block content %}

   <!-- #page-title.page-title-1 start -->
        <div id="page-title" class="page-title-1 pt-bkg-image-1">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .title-container start -->
                        <section class="title-container">
                            <div class="title">
                                <h3>CONTÁCTENOS</h3>
                                <h1>
                                    Póngase en contacto con<br />
                                    nosotros.
                                </h1>
                            </div>
                        </section><!-- .title-container end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->                
            </div><!-- .container end -->
            <div class="breadcrumbs-container">
                <!-- .CONTAINER START -->
                <div class="container">
                    <!-- .row start -->
                    <div class="row">
                        <!-- .col-md-12 start -->
                        <div class="col-md-12">
                            <ul class="breadcrumb">
                                <li>Usted está aquí:</li>
                                <li><a href="{% url '/index.html' %}">Inicio</a></li>
                                <li><span class="active">Contacto</span></li>
                            </ul><!-- .breadcrumb end -->
                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </div>
            </div>
          

        <!-- .page-content start -->
        <div class="page-content">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <!-- .service-box-1 start -->
                    <div class="col-md-4 clearfix">
                        <div class=" service-box-1 triggerAnimation animated" data-animate="zoomIn">
                            <!-- .title-container start -->
                            <div class="title-container clearfix">
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>

                                <h3>Llámenos</h3>
                            </div><!-- .title-container end -->

                            <!-- service-info start -->
                            <div class="service-info">
                                <p>
                                    Llámenos cuando lo desee al <strong>+507 201 55 71</strong>. Nuestros expertos en tecnología están disponibles de 08:00 a 17:00 de Lunes a Viernes.
                                </p>
                            </div>
                        </div><!-- .service-box-1 end -->
                    </div><!-- .service-box-1 end -->

                    <!-- .service-box-1 start -->
                    <div class="col-md-4 clearfix">
                        <div class=" service-box-1 triggerAnimation animated" data-animate="zoomIn">
                            <!-- .title-container start -->
                            <div class="title-container clearfix">
                                <div class="icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>

                                <h3>Envíenos un mensaje</h3>
                            </div><!-- .title-container end -->

                            <!-- service-info start -->
                            <div class="service-info">
                                <p>
                                    Usted puede enviarnos un correo electrónico al 
                                    <strong><a href="mailto:info@ita-sa.com">info@ita-sa.com</a></strong>. Contestaremos sus dudas o sugerencias con la mayor brevedad posible.
                                </p>
                            </div>
                        </div><!-- .service-box-1 end -->
                    </div><!-- .service-box-1 end -->

                    <!-- .service-box-1 start -->
                    <div class="col-md-4 clearfix">
                        <div class=" service-box-1 triggerAnimation animated" data-animate="zoomIn">
                            <!-- .title-container start -->
                            <div class="title-container clearfix">
                                <div class="icon">
                                    <i class="fa fa-building-o"></i>
                                </div>

                                <h3>Venga a nuestras oficinas</h3>
                            </div><!-- .title-container end -->

                            <!-- service-info start -->
                            <div class="service-info">
                                <p>
                                   Actualmente tenemos oficinas en las ciudades de <strong>Bogotá y Ciudad de Panamá</strong>. Envíenos un mensaje y con gusto programaremos una cita para usted.
                                </p>
                            </div>
                        </div><!-- .service-box-1 end -->
                    </div><!-- .service-box-1 end -->
                </div><!-- .row end -->

                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-6 start -->
                    <div class="col-md-6 triggerAnimation animated clearfix" data-animate="zoomIn">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading left">
                            <span class="heading-top">INFORMACIÓN DE CONTACTO</span>
                            <h2>Direcciones y Teléfonos</h2>
                        </section><!-- .fancy-heading end -->

                        <p>
                                                      
                        </p>

                        <ul class="contact-info-list">
                        <h4>Colombia</h4>
                            <li>
                                <i class="fa fa-home"></i>
                                <strong>Dirección: </strong>Cra. 7 # 113 - 43, Oficina 805. Bogotá, Colombia.
                            </li>

                            <li>
                                <i class="fa fa-phone"></i>
                                <strong>Teléfono: </strong>+57 742 88 20 
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <strong>Teléfono 2: </strong>+57 300 41 40
                            </li>

                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <strong>Email: </strong><a href="mailto:info@ita-sa.com">info@ita-sa.com</a>
                            </li>
                        </ul>
                         <ul class="contact-info-list">
                        <h4>Panamá</h4>
                            <li>
                                <i class="fa fa-home"></i>
                                <strong>Dirección: </strong>Torre Las Américas, Torre A, Oficina 903. C. de Panamá. 
                            </li>

                            <li>
                                <i class="fa fa-phone"></i>
                                <strong>Teléfono: </strong>+507 201 55 71
                            </li>

                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <strong>Email: </strong><a href="mailto:info@ita-sa.com">info@ita-sa.com</a>
                            </li>
                        </ul>
                    </div><!-- .col-md-6 end -->
                    <!-- .col-md-6 start -->
                    <div class="col-md-6 triggerAnimation animated clearfix" data-animate="zoomIn">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading left">
                            <span class="heading-top">FORMULARIO DE CONTACTO</span>
                            <h2>Envíenos un mensaje</h2>
                        </section><!-- .fancy-heading end -->

                        <!-- form start -->
                        <form class="wpcf7" id="contactform">
                            <fieldset>
                                <label>
                                    <span>*</span> Nombre Completo:
                                </label>

                                <span class="wpcf7-form-control-wrap your-name">
                                    <input type="text" class="wpcf7-text" id="contactform-name">
                                </span>
                            </fieldset>

                            <fieldset>
                                <label>
                                    <span>*</span> Dirección de E-mail:
                                </label>

                                <span class="wpcf7-form-control-wrap your-email">
                                    <input type="email" name="email" class="wpcf7-text" id="contactform-email">
                                </span>
                            </fieldset>

                            <fieldset>
                                <label>
                                    Página web<i> (opcional)</i>:
                                </label>

                                <span class="wpcf7-form-control-wrap your-url">
                                    <input type="url" class="wpcf7-text" id="contactform-web">
                                </span>
                            </fieldset>

                            <fieldset>
                                <label>
                                    Mensaje:
                                </label>

                                <span class="wpcf7-form-control-wrap your-message">
                                    <textarea rows="8" class="wpcf7-textarea" id="contactform-message"></textarea>
                                </span>
                            </fieldset>
                            
                            <input type="button" class="wpcf7-submit" id="form-submit" onclick="sendMail()" value="Enviar" />
                            <div id="form-result" style="display:none;"> <i class="fa fa-check-square"></i>  Mensaje enviado correctamente</div>
                        </form><!-- .wpcf7 end -->
                    </div><!-- .col-md-6 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->

        <!-- .page-content start -->
        <div class="page-content parallax dark parallax-6" data-stellar-background-ratio="1.0" >
            <!-- .container start -->
            <div class="container-fluid">
                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-12 start -->
                    <div class="col-md-12">
                        <section class="call-to-action contact">
                            <a href="#">
                                <h2>Necesita ayuda para encontrar nuestras oficinas? Búsquenos en este mapa</h2>
                                <i class="fa fa-angle-down triggerAnimation animated infinite" data-animate="pulse"></i>
                            </a>
                        </section>
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->

            </div>
</div>


 <!-- .page-content start -->
            <div class="page-content">
            <!-- .container start -->
            <div class="container-fluid">
                <div class="row map">
                    <div id="map4"></div>
                </div>          
            </div><!-- .container end -->
        </div><!-- .page-content end -->
        


        <div class="page-content parallax dark parallax-colored">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .call-to-action start -->
                        <div class="call-to-action clearfix">
                            <div class="text">
                                <h2>¿Está usted interesado en trabajar con nosotros?</h2>
                                <p>
                                    Agendaremos una cita para atenderle de forma personalizada y ofrecerle nuestras soluciones a su problema.
                                </p>
                            </div>

                            <a href='{% url '/contacto.html' %}' class='btn btn-medium white empty'>
                                <span>CONTÁCTENOS</span>
                            </a>
                        </div><!-- .call-to-action end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->




      
        
{% endblock content %}

{% block scripts %}

 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="{% static 'js/jquery.ui.map.full.min.js' %}"></script>

  <script>
           jQuery(document).ready(function ($) {
                'use strict';
                // GOOGLE MAPS START
                window.marker = null;

                function initialize() {
                    var map;

                    var center = new google.maps.LatLng(6.825227, -75.425788);
                    var nottingham = new google.maps.LatLng(8.982786, -79.509859);
                    var colombia = new google.maps.LatLng(4.691887, -74.033990);

                    var style = [
                        {"featureType": "road",
                            "elementType":
                                    "labels.icon",
                            "stylers": [
                                {"saturation": 1},
                                {"gamma": 1},
                                {"visibility": "on"},
                                {"hue": "#e6ff00"}
                            ]
                        },
                        {"elementType": "geometry", "stylers": [
                                {"saturation": -100}
                            ]
                        }
                    ];

                    var mapOptions = {
                        // SET THE CENTER
                        center: center,
                        // SET THE MAP STYLE & ZOOM LEVEL
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        zoom: 7,
                        // SET THE BACKGROUND COLOUR
                        backgroundColor: "#eeeeee",
                        // REMOVE ALL THE CONTROLS EXCEPT ZOOM
                        panControl: true,
                        zoomControl: true,
                        mapTypeControl: true,
                        scaleControl: true,
                        streetViewControl: true,
                        overviewMapControl: true,
                        scrollwheel: false,
                        zoomControlOptions: {
                            style: google.maps.ZoomControlStyle.SMALL
                        }

                    };
                    map = new google.maps.Map(document.getElementById('map4'), mapOptions);

                    // SET THE MAP TYPE
                    var mapType = new google.maps.StyledMapType(style, {name: "Grayscale"});
                    map.mapTypes.set('grey', mapType);
                    map.setMapTypeId('grey');

                    //CREATE A CUSTOM PIN ICON
                    var marker_image = '{% static 'images/pin.png' %}';
                    var pinIcon = new google.maps.MarkerImage(marker_image, null, null, null, new google.maps.Size(21, 34));

                    marker = new google.maps.Marker({
                        position: nottingham,
                        map: map,
                        icon: pinIcon,
                        title: 'ITA Panamá'
                    });
                    markere = new google.maps.Marker({
                        position: colombia,
                        map: map,
                        icon: pinIcon,
                        title: 'ITA Colombia'
                    });
                }

                google.maps.event.addDomListener(window, 'load', initialize);
                // GOOGLE MAPS END
            });


            
        </script>

        <script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4").removeClass("current-menu-item");
    $("#navbar4").addClass("current-menu-item");
    });
    </script>
        {% endblock scripts %}
