{% extends "base.html" %}
{% block title %}
<title>Nosotros- Inversiones Tecnológicas de América</title>
{% endblock %}
{% block description %}
<meta name="description" content="ITA es una empresa seria que está a la vanguardia tecnológica. Somos una compañía innovadora que tiene la capacidad para ofrecer soluciones adecuadas en tecnología." />
{% endblock %}



{% block content %}

      <!-- #page-title.page-title-1 start -->
        <div id="page-title" class="page-title-1 pt-bkg-image-2 mb-0">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .title-container start -->
                        <section class="title-container">
                            <div class="title">
                                <h3></h3>
                                <h1>
                                   HELPDESK
                                </h1>
                            </div>
                        </section><!-- .title-container end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->    
                            
            </div><!-- .container end -->
            <div class="breadcrumbs-container">
                <!-- .CONTAINER START -->
                <div class="container">
                    <!-- .row start -->
                    <div class="row">
                        <!-- .col-md-12 start -->
                        <div class="col-md-12">
                            <ul class="breadcrumb">
                                <li>Usted está aquí:</li>
                                <li><a href="{% url '/index.html' %}">Inicio</a></li>
                                <li><span class="active">Acerca de nosotros</span></li>
                            </ul><!-- .breadcrumb end -->
                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </div>

        </div><!-- #page-title.page-title-1 end -->

       
         <div class="page-content parallax parallax-6 dark center" data-stellar-background-ratio="1.0">
                <div class="container">
                    <div class="row">
                    <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <!-- .fancy-heading start -->
                            <section class="fancy-heading center">
                               
                                <h5><strong>¿Necesita la asistencia de nuestros expertos?</strong> <br><br><br></h5>

                                <h3><strong>Ingrese al siguiente enlace para que su necesidad sea atendida. <br><br><br> </strong></h3>





                                <h5><strong>Espacio reservado solo para brindar soporte técnico a  usuarios de las diversas soluciones informáticas que Inversiones Tecnológicas de América provee.</strong></h3>
                            </section><!-- .fancy-heading end -->
                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->

                    <!-- .row start -->
                </div><!-- .container end -->
            </div><!-- .page-content.parallax end -->
    
{% endblock content %}
{% block scripts %}
 <script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4").removeClass("current-menu-item");
    $("#navbar3").addClass("current-menu-item");
    });
</script>
{% endblock scripts %}
