{% extends "base.html" %}
{% block title %}
<title>HelpDesk - Inversiones Tecnológicas de América</title>
{% endblock %}
{% block description %}
<meta name="description" content="ITA es una empresa seria que está a la vanguardia tecnológica. Somos una compañía innovadora que tiene la capacidad para ofrecer soluciones adecuadas en tecnología." />
{% endblock %}



{% block content %}

      <!-- #page-title.page-title-1 start -->
        <div id="page-title" class="page-title-1 mb-0" style="background-image: url('{% static 'images/shutterstock/binary.jpg' %}')">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .title-container start -->
                        <section class="title-container">
                            <div class="title">
                                <h3>HelpDesk</h3>
                                <h1>
                                   Asistencia inmediata                                </h1>
                            </div>
                        </section><!-- .title-container end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->    
                            
            </div><!-- .container end -->
            <div class="breadcrumbs-container">
                <!-- .CONTAINER START -->
                <div class="container">
                    <!-- .row start -->
                    <div class="row">
                        <!-- .col-md-12 start -->
                        <div class="col-md-12">
                            <ul class="breadcrumb">
                                <li>Usted está aquí:</li>
                                <li><a href="{% url '/index.html' %}">Inicio</a></li>
                                <li><span class="active">HelpDesk</span></li>
                            </ul><!-- .breadcrumb end -->
                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </div>

        </div><!-- #page-title.page-title-1 end -->

       
         <div class="page-content mt-80">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <!-- .fancy-heading start -->
                            <section class="fancy-heading left">
                                <span class="heading-top">¿Necesita la asistencia de nuestros expertos?</span>
                                <h5>Ingrese en <a href="#"><strong>este enlace</strong></a> para que su necesidad sea atendida.
                            </section><!-- .fancy-heading end -->

                            <p>
                            Espacio reservado solo para brindar soporte técnico a  usuarios de las diversas soluciones informáticas que Inversiones Tecnológicas de América provee.
                            </p>
                        </div>
                    </div><!-- .row end -->

                    <!-- .row start -->
                </div><!-- .container end -->
                    </div><!-- .page-content.parallax end -->
                    <div class="page-content parallax dark parallax-colored">
                    <!-- .container start -->
                    <div class="container">
                        <!-- .row start -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- .call-to-action start -->
                                <div class="call-to-action clearfix">
                                    <div class="text">
                                        <h2>¿Interesado en alguno de nuestros servicios?</h2>
                                        <p>
                                            Agendaremos una cita para atenderle de forma personalizada y ofrecerle nuestras soluciones a su problema.
                                        </p>
                                    </div>

                                    <a href='{% url '/contacto.html' %}' class='btn btn-medium white empty'>
                                        <span style="font-size: 1em; font-weight: lighter; color: #fff;">Contáctenos</span>
                                    </a>
                                </div><!-- .call-to-action end -->
                            </div><!-- .col-md-12 end -->
                        </div><!-- .row end -->
                    </div><!-- .container end -->
                </div><!-- .page-content end -->
    
{% endblock content %}
{% block scripts %}
 <script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4, #navbar5, #navbar6").removeClass("current-menu-item");
    $("#navbar6").addClass("current-menu-item");
    });
</script>
{% endblock scripts %}
