{% extends "base.html" %}



{% block content %}

  <div class="tp-banner-container fullwidthbanner">
            <div id="rev-slider" class="tp-banner">
                <ul>
                    <!-- SLIDE ONE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="winter">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slider/slide7-17.png' %}" alt="slidebg3"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfb"
                             data-x="0"
                             data-y="520"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-17.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sft"
                             data-x="70"
                             data-y="0"
                             data-speed="500"
                             data-start="1300"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-3.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sft"
                             data-x="920"
                             data-y="0"
                             data-speed="500"
                             data-start="1400"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-12.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sfl"
                             data-x="380"
                             data-y="195"
                             data-speed="500"
                             data-start="1500"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-4.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sfr"
                             data-x="540"
                             data-y="470"
                             data-speed="500"
                             data-start="1700"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-14.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sfl"
                             data-x="470"
                             data-y="540"
                             data-speed="500"
                             data-start="1600"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-8.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sfr"
                             data-x="770"
                             data-y="540"
                             data-speed="500"
                             data-start="1600"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-9.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption lft"
                             data-x="800"
                             data-y="400"
                             data-speed="500"
                             data-start="1800"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-10.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sft"
                             data-x="860"
                             data-y="500"
                             data-speed="500"
                             data-start="1700"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-16.png' %}"alt=""/>
                        </div>

                        <div class="tp-caption sft"
                             data-x="700"
                             data-y="420"
                             data-speed="500"
                             data-start="1900"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-15.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sfl"
                             data-x="70"
                             data-y="380"
                             data-speed="500"
                             data-start="1700"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-5.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sfb"
                             data-x="200"
                             data-y="450"
                             data-speed="500"
                             data-start="1900"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-6.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sft"
                             data-x="200"
                             data-y="262"
                             data-speed="500"
                             data-start="1900"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-7.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption lfl"
                             data-x="230"
                             data-y="272"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-2.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption lft"
                             data-x="80"
                             data-y="450"
                             data-speed="500"
                             data-start="1800"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            <img src="{% static 'images/slider/slide7-13.png' %}" alt=""/>
                        </div>
                    </li><!-- SLIDE ONE END -->

                    <!-- SLIDE TWO -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Modern & Powerful">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slider/slide-6.jpg' %}" alt="slidebg3"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <div class="tp-caption tp-big-heading tp-big-heading-bold tp-black"
                             data-x="0"
                             data-y="160"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             >
                            Clean, Modern, Powerful -  
                        </div>

                        <div class="tp-caption tp-simple-heading tp-black skewfromrightshort tp-resizeme"
                             data-x="400"
                             data-y="160"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Power3.easeInOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="500"
                             >
                            Mixed 
                        </div>

                        <div class="tp-caption tp-text sft"
                             data-x="0"
                             data-y="232"
                             data-speed="500"
                             data-start="1800"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             >
                            This is Mixed corporate layout with simple and clean 
                            design ready for professional business <br /> websites.
                            Let us introduce some core features of Mixed!   
                        </div>

                        <div class="tp-caption fadein"
                             data-x="0"
                             data-y="316"
                             data-speed="500"
                             data-start="2200"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             ><img src="{% static 'images/slider/slide2-2.png' %}" alt=""/>                            
                        </div>

                        <div class="tp-caption tp-text fadein"
                             data-x="100"
                             data-y="336"
                             data-speed="500"
                             data-start="2300"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             >
                            Responsive  
                        </div>

                        <div class="tp-caption fadein"
                             data-x="200"
                             data-y="316"
                             data-speed="500"
                             data-start="2500"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             ><img src="{% static 'images/slider/slide2-3.png' %}" alt=""/>                            
                        </div>

                        <div class="tp-caption tp-text fadein"
                             data-x="300"
                             data-y="336"
                             data-speed="500"
                             data-start="2700"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             >
                            Retina Ready  
                        </div>

                        <div class="tp-caption fadein"
                             data-x="450"
                             data-y="316"
                             data-speed="500"
                             data-start="2900"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             ><img src="{% static 'images/slider/slide2-4.png' %}" alt=""/>                            
                        </div>

                        <div class="tp-caption tp-text fadein"
                             data-x="560"
                             data-y="336"
                             data-speed="500"
                             data-start="3200"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             >
                            Beautiful Design 
                        </div>
                    </li><!-- SLIDE ONE END -->

                    <!-- SLIDE THREE -->
                    <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="1000" data-thumb="http://themepunch.com/revolution/wp-content/uploads/2014/05/video_woman_cover3-320x200.jpg"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="Free on the Beach">
                        <!-- MAIN IMAGE -->
                        <img src="http://themepunch.com/revolution/wp-content/uploads/2014/05/video_woman_cover3.jpg"  alt="video_woman_cover3"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-fade fadeout fullscreenvideo"
                             data-x="0"
                             data-y="0"
                             data-speed="1000"
                             data-start="1100"
                             data-easing="Power4.easeOut"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1500"
                             data-endeasing="Power4.easeIn"
                             data-autoplay="true"
                             data-autoplayonlyfirsttime="false"
                             data-nextslideatend="true"
                             data-volume="mute" data-forceCover="1" data-aspectratio="16:9" data-forcerewind="on"			style="z-index: 2;"><video class="" preload="none"  
                                                                                                                                          poster='http://themepunch.com/revolution/wp-content/uploads/2014/05/video_woman_cover2.jpg'> 
                                <source src='http://themepunch.com/revolution/wp-content/uploads/2014/05/woman_sun.mp4' type='video/mp4' />
                                <source src='http://themepunch.com/revolution/wp-content/uploads/2014/05/woman_sun.webm' type='video/webm' />

                            </video>

                        </div>

                        <div class="tp-caption tp-big-heading-2 tp-big-heading-bold caption-bkg-black sft"
                             data-x="center"
                             data-y="200" 
                             data-speed="1500"
                             data-start="1000"
                             data-easing="Power4.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"> MODERN BUSINESS TEMPLATE
                        </div>

                        <div class="tp-caption tp-small-heading-2  caption-bkg-white sft"
                             data-x="center"
                             data-y="330"
                             data-speed="500"
                             data-start="1300"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
                             >
                            full screen video slider
                        </div>
                    </li>      
                </ul>
            </div><!-- .tp-banner end -->
        </div><!-- .tp-banner-container end -->

        <div class='page-content'>
                <div class="container-fluid" style="width: 80% !important">
                <!-- .fancy-heading start -->
                        <section class="fancy-heading left">
                            <span class="heading-top">INVERSIONES TECNOLÓGICAS DE AMÉRICA</span>
                            <h1>Diseñamos, integramos y desarrollamos soluciones de ingeniería para los requerimientos del siglo XXI.</h1>
                        </section><!-- .fancy-heading end -->
                    <div class="row row-equal-height">
                       <div class="col-md-3 custom-background bkg-grey">
                            <div class="service-box-2">
                                <i class="linecons-genius triggerAnimation animated" data-animate='zoomIn'></i>

                                <h4>Consultoría de Procesos</h4>
                                <p>
                                    We put a lot of effort in design, as it’s the 
                                    most important ingredient of successful website.
                                    Every layout is polished to perfection with pixel
                                    perfect sharp graphics.
                                </p>

                           
                            </div><!-- .service-box-2 end -->
                        </div><!-- .col-md-3 end -->

                        <div class="col-md-3 custom-background bkg-grey">
                            <div class="service-box-2">
                                <i class="linecons-genius triggerAnimation animated" data-animate='zoomIn'></i>

                                <h4>Comunicación e Información</h4>
                                <p>
                                    We put a lot of effort in design, as it’s the 
                                    most important ingredient of successful website.
                                    Every layout is polished to perfection with pixel
                                    perfect sharp graphics.
                                </p>

                              
                            </div><!-- .service-box-2 end -->
                        </div><!-- .col-md-3 end -->

                        <div class="col-md-3 custom-background bkg-grey">
                            <div class="service-box-2">
                                <i class="linecons-tools triggerAnimation animated" data-animate='zoomIn'></i>

                                <h4>Implementación de Soluciones</h4>
                                <p>
                                    We follow latest industry standards to provide 
                                    code of highest quality and easy to maintenance.
                                    Wordpress version comes with easy to use page
                                    builder.
                                </p>

                                
                            </div><!-- .service-box-2 end -->
                        </div><!-- .col-md-3 end -->

                        <div class="col-md-3 custom-background bkg-grey">
                            <div class="service-box-2">
                                <i class="linecons-browser triggerAnimation animated" data-animate='zoomIn'></i>

                                <h4>Dedicated Support</h4>
                                <p>
                                    We love what we do and provide outstanding
                                    support for all our themes and templates. So
                                    please don’t hesitate to contact us if you have
                                    any question.
                                </p>

                                
                            </div><!-- .service-box-2 end -->
                        </div><!-- .col-md-3 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </div><!-- .page-content end -->

<div id="section-portfolio" class="page-content parallax parallax-9 section-title-container mb-0 scroll-0" data-stellar-background-ratio="1.4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h3>NUESTRA EMPRESA</h3>
                            <h1>NOSOTROS</h1>
                        </div><!-- .section-title end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

 <div class="page-content custom-background bkg-grey">
            <div class="container" style="width: 80% !important">
                <div class="row">
                    <div class="col-md-6">
                          <!-- .fancy-heading start -->
                        <section class="fancy-heading left">
                            <h1><strong> EN INVERSIONES TECNOLÓGICAS DE AMÉRICA S.A. </strong>Conocemos sus necesidades.</h1>
                        </section><!-- .fancy-heading end -->
 

                        <div class="simple-heading left">
                            <h2>NUESTRA <strong> LÍNEA DE NEGOCIOS</strong> </h2>
                        </div><!-- .simple-heading-left end -->

                        <p>
                            Meet Mixed, modern, multipurpose, professional and 
                            pixel perfect HTML template. Mixed offers unlimited design 
                            options to create almost any type of website, from 
                            professional business agency, creative portfolio, personal 
                            portfolio, landing page and so much more. It's 
                            easy to customize, followed up with detailed documentation. You'll have 
                            your site up and running in no time.
                        </p>

                        <a class="btn btn-big empty black float-left" href=''>
                            <span>learn more</span>
                        </a>
                    </div><!-- .col-md-6 end -->

                    <div class="col-md-6">
                        
                         <p>
                           ITA es una empresa que debe tener una modernidad en su parte visual y comunicativa. Debe verse como una empresa seria para comunicarse de manera clara con su exterior, pero que de todas formas esté a la vanguardia tecnológica, que sea innovadora y exprese que tiene la capcidad para ofrecer las soluciones adecuadas en tecnología.
                        </p>
                         <div class="row">


                    <!-- .col-md-3 start -->
                    <div class="col-md-6">
                        <div class="process-box-circle">
                            <div class="icon-container">
                                <i class="linecons-genius triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <h4>SEGURIDAD Y GESTIÓN DE IDENTIFICACIÓN </h4>
                            <p>
                                We love to design and pay great attention to 
                                every detail to make perfect end product.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->
                    
                    <!-- .col-md-3 start -->
                    <div class="col-md-6">
                        <div class="process-box-circle">
                            <div class="icon-container">
                                <i class="linecons-layers triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <h4>SOFTWARES DE GESTIÓN TRIBUTARIA</h4>
                            <p>
                                Mixed is 100% W3C valid and clean coded. Every 
                                section is commented for easier understanding.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->
                    </div> <!-- row end -->






                    </div><!-- .col-md-6 end -->
                </div><!-- .row end -->  
                </div><!-- .container-fluid end -->
        </div><!-- .page-content end -->

        <div id="section-portfolio" class="page-content parallax parallax-9 section-title-container mb-0 scroll-0" data-stellar-background-ratio="1.4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h3>NUESTROS PRODUCTOS</h3>
                            <h1>SERVICIOS</h1>
                        </div><!-- .section-title end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->


     <div class="page-content custom-background bkg-grey">
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                     <img src="{% static 'images/pics/ceo.jpg' %}" alt=""/>



                </div><!-- col-md6 end style="margin-left: -60px !important" -->

                 <div class="col-md-6" >
                    <div class="simple-heading left">
                            <h6>SAR: SOlUCIÓN TECNOLÓGICA HACENDARIA PARA LOS ENTES TERRITORIALES.</h6>
                        </div><!-- .simple-heading-left end -->

                         <div class="infobox-default" style="margin-bottom: 40px !important">
                                    <div class="icon-container">
                                        <i class="linecons-lightbulb"></i>
                                    </div>

                                    <div class="notification-container">
                                        <p>
                                            SAR Es una herramienta tecnológica que ayuda a la Modernización y Optimización de los impuestos municipales y departamentales a través de un software especializado en el manejo de Impuestos, con tecnología de punta y recursos profesionales de sistematización y asesoría en asistencia tributaria integral enfocado al resultado, a través de la eficiencia y la modernización de los procesos en busca de la satisfacción de usuarios y/o clientes.
                                        </p>
                                    </div><!-- .notification-container end -->
                                </div><!-- .infobox-default end -->

                       
                            <h9>Algunas características y beneficios de utilizar nuestro sistema de gestión SAR</h9>

                            <!-- .row start -->
                <div class="row" style="margin-top: 20px !important">
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-7">
                            <div class="icon-container">
                                <i class="linecons-newspaper triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <a href=""><h4>Truly Multipurpose</h4></a>
                            <p>
                                Mixed offers endless design possibilities with 
                                it's unique layouts and wide range of options.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-7">
                            <div class="icon-container">
                                <i class="linecons-clipboard triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <a href=""><h4>Unlimited Colors</h4></a>
                            <p>
                                Choose from 10 predefined color options 
                                or use your own brand color. It’s so 
                                easy, just with one click.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-7">
                            <div class="icon-container">
                                <i class="linecons-layers triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <a href=""><h4>Easy to customize</h4></a>
                            <p>
                                Mixed comes with clean commented code and highly 
                                detailed documentation to make your customization 
                                easy.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->
                </div><!-- .row end  style="margin-top: -60px !important" -->

                <div class="row" >
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-7">
                            <div class="icon-container">
                                <i class="linecons-newspaper triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <a href=""><h4>Truly Multipurpose</h4></a>
                            <p>
                                Mixed offers endless design possibilities with 
                                it's unique layouts and wide range of options.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-7">
                            <div class="icon-container">
                                <i class="linecons-clipboard triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <a href=""><h4>Unlimited Colors</h4></a>
                            <p>
                                Choose from 10 predefined color options 
                                or use your own brand color. It’s so 
                                easy, just with one click.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-7">
                            <div class="icon-container">
                                <i class="linecons-layers triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <a href=""><h4>Easy to customize</h4></a>
                            <p>
                                Mixed comes with clean commented code and highly 
                                detailed documentation to make your customization 
                                easy.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->
                </div>



                </div><!-- col-md6 end -->

                </div><!-- row end -->

            <div class="row">
        
                 <div class="col-md-6">
                    <div class="simple-heading left">
                            <h6>SOLUCIONES EN SEGURIDAD Y GESTIÓN DE IDENTIFICACIÓN</h6>
                        </div><!-- .simple-heading-left end -->

                         <div class="infobox-default" style="margin-bottom: 40px !important">
                                    <div class="icon-container">
                                        <i class="linecons-lightbulb"></i>
                                    </div>

                                    <div class="notification-container">
                                        <p>
                                            Sistema automatizado de autenticación biométrica mediante acceso en línea, que permite verificar la identidad de un ciudadano colombiano a través de la comparación de los patrones de su huella dactilar con la información provista por un ente que provee información certificada y validada como es la Registraduría Nacional del Estado Civil.
                                        </p>
                                    </div><!-- .notification-container end -->
                                </div><!-- .infobox-default end -->

                       
                            <h9>Algunas características y beneficios de utilizar nuestro sistema.</h9>

                        <div class="simple-heading left">
                            <h3>we have great experience in</h3>
                        </div>

                        <div class="skills-bar">
                            <ul class="skills">
                                <li>
                                    <span class="percentage-80 expand"></span>
                                    <p><i class="fa fa-bullseye"></i> Web design 80%</p>
                                </li>

                                <li>
                                    <span class="percentage-90 expand"></span>
                                    <p><i class="fa fa-codepen"></i> WordPress Development 90%</p>
                                </li>

                                <li>
                                    <span class="percentage-70 expand"></span>
                                    <p><i class="fa fa-briefcase"></i> Graphic Design 70%</p>
                                </li>

                                <li>
                                    <span class="percentage-80 expand"></span>
                                    <p><i class="fa fa-building-o"></i> jQuery 80%</p>
                                </li>
                            </ul>
                        </div><!-- .skills-bar.theme-color end -->  


         

                </div><!-- col-md6 end style="margin-tight: -60px !important" -->


                        <div class="col-md-6" >
                     <img src="{% static 'images/pics/ceo.jpg' %}" alt=""/>


                </div><!-- col-md6 end -->
            
                   </div><!-- row end -->

   </div><!-- .container end -->
        </div><!-- .page-content end -->


        <div class="page-content parallax dark parallax-4" data-stellar-background-ratio="1.4" style="background-color: #000000">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">contact us</span>
                            <h2>Want to Start a New Project with Us</h2>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
                
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-3"></div>
                    
                    <!-- .col-md-6 start -->
                    <div class="col-md-6">
                        <!-- form start -->
                        <form class="wpcf7 simple centered">
                            <fieldset>
                                <span class="wpcf7-form-control-wrap your-name">
                                    <input type="text" class="wpcf7-text" id="contact-name" placeholder="Your name">
                                </span>
                            </fieldset>

                            <fieldset>
                                <span class="wpcf7-form-control-wrap your-email">
                                    <input type="email" name="email" class="wpcf7-text" id="contact-email" placeholder="Your email">
                                </span>
                            </fieldset>

                            <fieldset>
                                <span class="wpcf7-form-control-wrap your-url">
                                    <input type="url" class="wpcf7-text" id="contact-website" placeholder="Link to your portfolio (optional)">
                                </span>
                            </fieldset>
                            
                            <fieldset>
                                <span class="wpcf7-form-control-wrap your-message">
                                    <textarea rows="8" class="wpcf7-textarea" id="contact-message" placeholder="Your message"></textarea>
                                </span>
                            </fieldset>

                            <input type="submit" class="wpcf7-submit" value="Submit" />
                        </form><!-- .wpcf7 end -->
                    </div><!-- .col-md-6 end -->
                    
                    <div class="col-md-3"></div>
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->


{% endblock content%}
