{% extends "base.html" %}
{% block title %}
<title>ITA - Inversiones Tecnológicas de América</title>
{% endblock %}
{% block description %}
<meta name="description" content="Diseñamos, integramos e implementamos software y soluciones de ingeniería para los requerimientos del siglo XXI." />
{% endblock %}



{% block content %}

  <div class="tp-banner-container mb-0">
            <div id="rev-slider" class="tp-banner">
                <ul>


                    <!-- SLIDE THREE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 3">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slider/slide3-1.jpg' %}"   alt="slidebg3"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <div class="tp-caption tp-big-heading-2 tp-big-heading-bold sft"
                             data-x="0"
                             data-y="204"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            SOLUCIONES <br /> DEL SIGLO XXI
                        </div>

                        <div class="tp-caption tp-small-heading-2 sft"
                             data-x="0"
                             data-y="330"
                             data-speed="500"
                             data-start="1300"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <span style="font-size:22px; color:#fff;">INVERSIONES TECNOLÓGICAS DE AMERICA S.A.</span>
                        </div>

                        <div class="tp-caption sfb"
                             data-x="503"
                             data-y="115"
                             data-speed="500"
                             data-start="1600"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/itatpls/slide3-2.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption lft"
                             data-x="737"
                             data-y="78"
                             data-speed="500"
                             data-start="1800"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/DS.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption lft"
                             data-x="1040"
                             data-y="46"
                             data-speed="500"
                             data-start="1900"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slideIcon1.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption lft"
                             data-x="737"
                             data-y="235"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/IS.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption lft"
                             data-x="1137"
                             data-y="195"
                             data-speed="500"
                             data-start="2100"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slideIcon2.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption lft"
                             data-x="737"
                             data-y="345"
                             data-speed="500"
                             data-start="2200"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/CE.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption lft"
                             data-x="1045"
                             data-y="330"
                             data-speed="500"
                             data-start="2300"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slideIcon3.png' %}" alt=""/>
                        </div>
                    </li><!-- SLIDE ONE END -->
                </ul>
            </div><!-- .tp-banner end -->
        </div><!-- .tp-banner-container end -->

        <div class='page-content'>
                <div class="container mt-30">
                <!-- .fancy-heading start -->
                        <section class="fancy-heading left">
                            <span class="heading-top">INVERSIONES TECNOLÓGICAS DE AMÉRICA</span>
                            <h1>Diseñamos, integramos y desarrollamos soluciones de ingeniería para los requerimientos del siglo XXI.</h1>
                        </section><!-- .fancy-heading end -->
                    <div class="row row-equal-height">
                       <div class="col-md-3">
                            <div class="service-box-2">
                                <i class="linecons-circle-compass triggerAnimation animated" data-animate='zoomIn'></i>

                                <h4>Diseño de Soluciones</h4>
                                <p>
                                    Conoceremos la verdadera necesidad de nuestro cliente para diseñar una solución a su medida. Elegiremos en la industria e integraremos al diseño de la solución aquella tecnología idónea que cumpla con las expectativas.
                                </p>

                           
                            </div><!-- .service-box-2 end -->
                        </div><!-- .col-md-3 end -->

                        <div class="col-md-3">
                            <div class="service-box-2">
                                <i class="linecons-tools-2 triggerAnimation animated" data-animate='zoomIn'></i>

                                <h4>Implementación de Soluciones</h4>
                                <p>
                                    Implementamos las soluciones diseñadas con el mejor nivel de calidad y cumplimiento de los tiempos establecidos.
                                </p>

                              
                            </div><!-- .service-box-2 end -->
                        </div><!-- .col-md-3 end -->

                        <div class="col-md-3">
                            <div class="service-box-2">
                                <i class="linecons-profile-male triggerAnimation animated" data-animate='zoomIn'></i>

                                <h4>Atención Personalizada</h4>
                                <p>
                                    La satisfacción de nuestros clientes es la  mayor prioridad. Recibirán la mejor atención personalizada desde el primer momento hasta el último.
                                </p>

                                
                            </div><!-- .service-box-2 end -->
                        </div><!-- .col-md-3 end -->

                        <div class="col-md-3">
                            <div class="service-box-2">
                                <i class="linecons-refresh triggerAnimation animated" data-animate='zoomIn'></i>

                                <h4>Acompañamiento permanente</h4>
                                <p>
                                   La clave del éxito de la solución es el constante acompañamiento en la operación. Sentirán nuestro firme apoyo en todo este proceso. 
                                </p>

                                
                            </div><!-- .service-box-2 end -->
                        </div><!-- .col-md-3 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </div><!-- .page-content end -->

<div id="section-portfolio" class="page-content parallax parallax-1 section-title-container mb-0 scroll-0" data-stellar-background-ratio="1.4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h3>NUESTRA EMPRESA</h3>
                            <h1>NOSOTROS</h1>
                        </div><!-- .section-title end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

 <div class="page-content custom-background bkg-grey" >
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                          <!-- .fancy-heading start -->
                        <section class="fancy-heading left">
                            <h2>En <strong> Inversiones Tecnológicas de América S.A. </strong>Conocemos sus necesidades.</h2>
                        </section><!-- .fancy-heading end -->
 

                        <div class="simple-heading left">
                            <h3>NUESTRA <strong> LÍNEA DE NEGOCIOS</strong> </h3>
                        </div><!-- .simple-heading-left end -->

                        <p>
                          Con más de 20 años de experiencia diseñando e implementando soluciones integrales en ingeniería de las TIC hemos aprendido a conocer las verdaderas necesidades y preocupaciones de nuestros clientes. Contamos con un talento humano muy capacitado que nos ha llevado a consolidarnos como empresa reconocida en el mercado. Nuestra profesionalidad en el cumplimiento y calidad de la solución son distintivos de nuestra compañía. 
                        </p>

                        <a class="btn btn-big empty black float-left" href="{% url '/about.html' %}">
                            <span>Conozca más</span>
                        </a>
                    </div><!-- .col-md-6 end -->

                    <div class="col-md-6">
                        
                         <p>
                           <strong>ITA</strong> es una empresa que debe tener una modernidad en su parte visual y comunicativa. Debe verse como una empresa seria para comunicarse de manera clara con su exterior, pero que de todas formas esté a la vanguardia tecnológica, que sea innovadora y exprese que tiene la capcidad para ofrecer las soluciones adecuadas en tecnología.
                        </p>
                         <div class="row">


                    <!-- .col-md-3 start -->
                    <div class="col-md-6 mt-30">
                        <div class="process-box-circle">
                            <div class="icon-container">
                                <i class="linecons-lock triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <h4>SEGURIDAD Y GESTIÓN DE IDENTIFICACIÓN </h4>
                            <p>
                               Implementamos soluciones de reconocimiento facial para transporte masivos, aeropuertos, estadios. Sistemas de control de acceso de altos niveles de seguridad mediante reconocimiento de iris. Validación biométrica en línea contra la Registraduría Nacional, y demás soluciones en materia de seguridad ciudadana.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->
                    
                    <!-- .col-md-3 start -->
                    <div class="col-md-6 mt-30">
                        <div class="process-box-circle">
                            <div class="icon-container">
                                <i class="linecons-wallet triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <h4>SOFTWARES DE GESTIÓN TRIBUTARIA</h4>
                            <p>
                                Herramienta Tecnológicas que ayudan  a  la Modernización y Optimización de los Impuestos municipales y departamentales a través de un software especializado en el manejo de Impuestos, con tecnología de punta y recursos profesionales de sistematización y asesoría en asistencia tributaria integral enfocado al resultado, a través de la eficiencia y la modernización de los procesos en busca de la satisfacción de usuarios y/o clientes.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->
                    </div> <!-- row end -->






                    </div><!-- .col-md-6 end -->
                </div><!-- .row end -->  
                </div><!-- .container-fluid end -->
        </div><!-- .page-content end -->

        <div id="section-portfolio" class="page-content parallax parallax-4 section-title-container mb-0 scroll-0" data-stellar-background-ratio="1.4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h3>NUESTROS PRODUCTOS</h3>
                            <h1>SERVICIOS</h1>
                        </div><!-- .section-title end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->


     <div class="page-content custom-background bkg-grey">
            <div class="container-fluid " style="width:90%;">
            <div class="row">
                <div class="col-md-5 nopaddingleft">
                    <div class="gallery-two-col gallery-padding mt-30 mb-30">
                            <figure class="gallery-item">
                                <div class="gallery-img zoom-hover">
                                    <img src="{% static 'images/sar/sar.jpg' %}" alt=""/>

                                    <div class="mask-style-1">
                                        <div class="mask"></div>

                                        <div class="zoom">
                                            <a href="{% static 'images/sar/sar.jpg' %}" class="triggerZoom"></a>
                                        </div>
                                    </div>
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item end -->
                            
                            
                            <figure class="gallery-item">
                                <div class="gallery-img zoom-hover">
                                    <img src="{% static 'images/sar/web.jpg' %}" alt=""/>

                                    <div class="mask-style-1">
                                        <div class="mask"></div>

                                        <div class="zoom">
                                            <a href="{% static 'images/sar/web.jpg' %}" class="triggerZoom"></a>
                                        </div>
                                    </div>
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item end -->
                            
                            <figure class="gallery-item">
                                <div class="gallery-img zoom-hover">
                                    <img src="{% static 'images/sar/recaudo.jpg' %}" alt=""/>

                                    <div class="mask-style-1">
                                        <div class="zoom">
                                            <a href="{% static 'images/sar/recaudo.jpg' %}" class="triggerZoom"></a>
                                        </div>
                                    </div>
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item end -->
                            <figure class="gallery-item">
                                <div class="gallery-img zoom-hover">
                                    <img src="{% static 'images/sar/reportes.jpg' %}" alt=""/>

                                    <div class="mask-style-1">
                                        <div class="zoom">
                                            <a href="{% static 'images/sar/reportes.jpg' %}" class="triggerZoom"></a>
                                        </div>
                                    </div>
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item end -->
                        </div><!-- .gallery-three-col end -->



                </div><!-- col-md6 end style="margin-left: -60px !important" -->

                 <div class="col-md-7" >
                    <div class="simple-heading left">
                            <h2>SAR: SOFTWARE DE GESTIÓN TRIBUTARIA</h2>
                        </div><!-- .simple-heading-left end -->

                         <div class="infobox-default" style="margin-bottom: 40px !important">
                                    <div class="icon-container">
                                        <i class="linecons-lightbulb"></i>
                                    </div>

                                    <div class="notification-container">
                                        <p>
                                            SAR es una herramienta tecnológica que ayuda a la Modernización y Optimización de los impuestos municipales y departamentales a través de un software especializado en el manejo de Impuestos, con tecnología de punta y recursos profesionales de sistematización y asesoría en asistencia tributaria integral enfocado al resultado, a través de la eficiencia y la modernización de los procesos en busca de la satisfacción de usuarios y/o clientes.
                                        </p>
                                    </div><!-- .notification-container end -->
                                </div><!-- .infobox-default end -->

                       
                            <div class="simple-heading left">
                            <h5>Caracterísiticas y Beneficios</h5>
                        </div>

                            <!-- .row start -->
                <div class="row" style="margin-top: 20px !important">
                    <!-- .col-md-4 start -->
                     <div class="col-md-6">
                        <ul class="fa-ul large-icons minimal">
                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                        <h5>Mejorar el servicio al usuario </h5>
                                    <p></p>
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                        <h5>Aumentar la eficiencia operativa</h5>
                                    <p></p>
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                        <h5>Cumplimento de normativas y transparencia</h5>
                                    <p>
                                    </p>
                                </div>
                            </li><!-- li end -->
                        </ul><!-- .fa-ul.large-icons end -->
                    </div><!-- .col-md-6 end -->

                    <!-- .col-md-6 start -->
                    <div class="col-md-6">
                        <ul class="fa-ul large-icons minimal">
                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                        <h5>Automatizar la gestión tributaria</h5>
                                    <p>
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                        <h5>Aprovechar el potencial de la tecnología</h5>
                                    <p>
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                        <h5>Aumentar la productividad de los empleados.</h5>
                                    <p>
                                    </p>
                                </div>
                            </li><!-- li end -->
                        </ul><!-- .fa-ul.large-icons end -->
                    </div><!-- .col-md-6 end -->
                </div>



                </div><!-- col-md6 end -->

                </div><!-- row end -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-simple">
                            <span class="hr-simple-circle"></span>
                        </div>
                    </div><!-- .col-md-12 end -->
                </div>

            <div class="row">
        
                 <div class="col-md-7">
                    <div class="simple-heading left">
                            <h2>SOLUCIONES DE SEGURIDAD CIUDADANA</h2>
                        </div><!-- .simple-heading-left end -->

                         <div class="infobox-default" style="margin-bottom: 40px !important">
                                    <div class="icon-container">
                                        <i class="linecons-lightbulb"></i>
                                    </div>

                                    <div class="notification-container">
                                        <p>
                                            Sistema automatizado de autenticación biométrica mediante acceso en línea, que permite verificar la identidad de un ciudadano a través de la comparación de los patrones de su huella dactilar con la información provista por un ente que provee información certificada y validada como es la Registraduría Nacional del Estado Civil.
                                        </p>
                                    </div><!-- .notification-container end -->
                                </div><!-- .infobox-default end -->

                       
                            <h9></h9>

                        <div class="simple-heading left">
                            <h5>Caracterísiticas y Beneficios</h5>
                        </div>

                       <div class="row" style="margin-top: 20px !important">
                    <!-- .col-md-4 start -->
                     <div class="col-md-6">
                        <ul class="fa-ul large-icons minimal">
                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                        <h5>Mayor Seguridad</h5>
                                    <p>Disminución de problemas de <strong>suplantación de identidad</strong> por falta de sistemas confiables de autenticación personal
                                       
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                        <h5>Autenticación de Documentos</h5>
                                    <p>Autenticación y verificación de identidad automatizada en documentos y trámites.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                        <h5>Información única y confiable:</h5>
                                    <p>Provee <strong>información biométrica y biográfica</strong> certificada de un ciudadano
                                    </p>
                                </div>
                            </li><!-- li end -->
                        </ul><!-- .fa-ul.large-icons end -->
                    </div><!-- .col-md-6 end -->

                    <!-- .col-md-6 start -->
                    <div class="col-md-6">
                        <ul class="fa-ul large-icons minimal">
                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                        <h5>Agilización de Procesos</h5>
                                    <p>Mayor <strong>velocidad y facilidad</strong> en el cumplimiento de procesos que requieren autenticación personal.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                        <h5>Integración</h5>
                                    <p>Gran facilidad de integración del proceso de autenticación personal con sistemas de información.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">

                                        <h5>Información Centralizada</h5>
                                    <p>Información transaccional <strong>centralizada y fuertemente asegurada</strong> (Firma digital, estampas de tiempo, etc)
                                    </p>
                                </div>
                            </li><!-- li end -->
                        </ul><!-- .fa-ul.large-icons end -->
                    </div><!-- .col-md-6 end -->
                </div>


         

                </div><!-- col-md6 end style="margin-tight: -60px !important" -->


                        <div class="col-md-5 nopaddingright" >
                            
                      <div class="gallery-two-col gallery-padding mt-80">
                            <figure class="gallery-item">
                                <div class="gallery-img zoom-hover">
                                    <img src="{% static 'images/sb/facefirst.jpg' %}" alt=""/>

                                    <div class="mask-style-1">
                                        <div class="mask"></div>

                                        <div class="zoom">
                                            <a href="{% static 'images/sb/facefirst.jpg' %}" class="triggerZoom"></a>
                                        </div>
                                    </div>
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item end -->
                            
                            <figure class="gallery-item">
                                <div class="gallery-img zoom-hover">
                                    <img src="{% static 'images/sb/validat.jpg' %}" alt=""/>

                                    <div class="mask-style-1">
                                        <div class="mask"></div>

                                        <div class="zoom">
                                            <a href="{% static 'images/sb/validat.jpg' %}" class="triggerZoom"></a>
                                        </div>
                                    </div>
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item end -->
                            
                            <figure class="gallery-item">
                                <div class="gallery-img zoom-hover">
                                    <img src="{% static 'images/sb/sarnoff.jpg' %}" alt=""/>

                                    <div class="mask-style-1">
                                        <div class="zoom">
                                            <a href="{% static 'images/sb/sarnosff.jpg' %}" class="triggerZoom"></a>
                                        </div>
                                    </div>
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item end -->
                            <figure class="gallery-item">
                                <div class="gallery-img zoom-hover">
                                    <img src="{% static 'images/sb/sec.jpg' %}" alt=""/>

                                    <div class="mask-style-1">
                                        <div class="zoom">
                                            <a href="{% static 'images/sb/sec.jpg' %}" class="triggerZoom"></a>
                                        </div>
                                    </div>
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item end -->
                        </div><!-- .gallery-three-col end -->



                    </div><!-- col-md6 end -->
            
                   </div><!-- row end -->

            </div><!-- .container end -->
        </div><!-- .page-content end -->


        <div class="page-content parallax dark parallax-4" data-stellar-background-ratio="1.4" >
            <!-- .container start -->
            <div class="container" >
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">Contáctenos</span>
                            <h2>Envíenos un mensaje y comenzaremos a trabajar juntos</h2>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
                
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-3"></div>
                    
                    <!-- .col-md-6 start -->
                    <div class="col-md-6">
                        <!-- form start -->
                        <form class="wpcf7 simple centered">
                            <fieldset>
                                <span class="wpcf7-form-control-wrap your-name">
                                    <input type="text" class="wpcf7-text" id="contact-name" placeholder="Su nombre">
                                </span>
                            </fieldset>

                            <fieldset>
                                <span class="wpcf7-form-control-wrap your-email">
                                    <input type="email" name="email" class="wpcf7-text" id="contact-email" placeholder="Su email">
                                </span>
                            </fieldset>

                            <fieldset>
                                <span class="wpcf7-form-control-wrap your-url">
                                    <input type="url" class="wpcf7-text" id="contact-website" placeholder="Su sitio web(opcional)">
                                </span>
                            </fieldset>
                            
                            <fieldset>
                                <span class="wpcf7-form-control-wrap your-message">
                                    <textarea rows="8" class="wpcf7-textarea" id="contact-message" placeholder="Su mensaje"></textarea>
                                </span>
                            </fieldset>

                            <input type="submit" class="wpcf7-submit" value="Enviar" />
                        </form><!-- .wpcf7 end -->
                    </div><!-- .col-md-6 end -->
                    
                    <div class="col-md-3"></div>
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->


{% endblock content%}

{% block scripts %}
 <script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4").removeClass("current-menu-item");
    $("#navbar1").addClass("current-menu-item");
    });
</script>
{% endblock scripts %}
