{% extends "base.html" %}



{% block content %}


  <div class="tp-banner-container mb-0">
            <div id="rev-slider" class="tp-banner">
                <ul>
                    <!-- SLIDE ONE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slider/slide1-1.jpg' %}"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <div class="tp-caption tp-big-heading tp-big-heading-bold sfl"
                             data-x="600"
                             data-y="110"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <span style="font-size:70px; font-weight:100; color: #fff;"></br><span style="font-size:36px; color: #fff; font-weight:1000;">SOLUCIONES EN SEGURIDAD Y </br>GESTIÓN DE IDENTIFICACIÓN</span>

                        </div>

                        <div class="tp-caption sfb"
                             data-x="0"
                             data-y="200"
                             data-speed="500"
                             data-start="1300"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slide1-2.png' %}" alt=""/>
                        </div>

                        <div class="tp-caption sfr"
                             data-x="75"
                             data-y="100"
                             data-speed="500"
                             data-start="1600"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             >
                            <img src="{% static 'images/slider/slide1-3.png' %}" alt=""/>
                        </div>
                    </li><!-- SLIDE ONE END -->


                </ul>
            </div><!-- .tp-banner end -->
        </div><!-- .tp-banner-container end -->

        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 custom-background bkg-darkblue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-desktop"></i>
                            </div>

                            <div class="text-container">
                                <p>Autenticación Dactilar</p>
                                <span class="big">VALIDA</span>
                            </div><!-- .text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end -->

                    <div class="col-md-4 custom-background bkg-blue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-globe"></i>
                            </div>

                            <div class="text-container">
                                <p>Reconocimiento Facial</p>
                                <span class="big">FACE FIRST</span>
                            </div><!-- text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end -->

                    <div class="col-md-4 custom-background bkg-darkblue dark">
                        <div class="info-box">
                            <div class="icon-container">
                                <i class="fa fa-life-ring"></i>
                            </div>

                            <div class="text-container">
                                <p>Detección del Iris</p>
                                <span class="big">IRIS ON THE MOVE</span>
                            </div><!-- .text-container end -->
                        </div><!-- .info-box end -->
                    </div><!-- .col-md-3 end -->
                </div><!-- .row end -->
            </div><!-- .container-fluid end -->
        </div><!-- .page-content end -->

        <div class="page-content parallax parallax-15 padding-0">
            <div class="container-fluid">
                <div class="row mb-0">

                    <div class="col-md-6">
                        <img src="{% static 'images/sb/validat.jpg' %}" alt="" style="margin-left: 50px !important;!"/>


                    </div><!-- .col-md-6 end -->
                    
                    <div class="col-md-6">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading style-2 left">
                            <h2>VALIDA - Servicio de Autenticación Biométrica</h2>
                        </section><!-- .fancy-heading end -->
                        
                        <p>
                         Sistema automatizado de autenticación biométrica mediante acceso en línea, que permite verificar la identidad de un ciudadano Colombiano a través de la comparación de los patrones de su huella dactilar con la información provista por un ente que provee información certificada y validada como es la Registraduría Nacional del Estado Civil.
                        </p>
                        
                        <p>
                          Como resultado de este proceso se obtiene la información necesaria del ciudadano para efectos de validar su identidad ya que genera información del proceso de cotejo biométrico de las huellas y entrega su información biográfica (Nombres, apellidos, etc.) 
                        </p>
                        
                        <br />
                    </div><!-- .col-md-6 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

             <div class="page-content parallax parallax-2" data-stellar-background-ratio="1.4" style="padding-top: 0px !important;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div><!-- .COL-MD-12 END -->
                </div><!-- .row end -->

                <div class="row">
                    <div class="col-md-6">
                     <div style="">
                      
                           
                        <div class="service-box-2 col-md-4">
                            <div class="icon-container">
                                <i class="linecons-genius"></i>
                            </div>
                            
                            <div class="text-container">
                                <h4>Dispositivos Biométricos</h4>
                                
                                <p>
                                 La implementación de estándares biométricos facilita la interoperabilidad y permite la integración de dispositivos de diferentes fabricantes con el sistema. 
                                </p>
                            </div><!-- .text-container end -->
                        </div><!-- .service-box-4 end -->
                     
                      
                        <div class="service-box-2 col-md-4">
                            <div class="icon-container">
                                <i class="linecons-genius"></i>
                            </div>
                            
                            <div class="text-container">
                                <h4>Aplicaciones</h4>
                                
                                <p>
                                    Se dispone de aplicaciones listas para realizar el proceso de validación de identidad en línea para implantaciones automáticas del sistema.
                                </p>
                            </div><!-- .text-container end -->
                        </div><!-- .service-box-4 end -->
                     
                        
                        <div class="service-box-2 col-md-4">
                            <div class="icon-container">
                                <i class="linecons-genius"></i>
                            </div>
                            
                            <div class="text-container">
                                <h4>Integración con aplicaciones</h4>
                                
                                <p>
                                    La arquitectura del servicio permite una fácil integración en cualquier tipo de solución (Fija o Móvil).
                                </p>
                            </div><!-- .text-container end -->
                        </div><!-- .service-box-4 end -->
                 

                    </div><!-- .col-md-4 end -->
                     
                     </div> 
                   
                    <div class="col-md-6">
                     <div style="max-width:400px;margin-left: auto;margin-right: auto;">
                      <h6>Beneficios</h6>
                      <ul class="fa-ul">
                            <li><i class="fa fa-li fa-file-text-o"></i>Disminución de los problemas de suplantación por falta de sistemas confiables de autenticación personal.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Autenticación y verificación de identidad automatizada en documentos y trámites .</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Fuente de información única y confiable: Provee información biométrica y biográfica certificada de un ciudadano.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Agilización de procesos que requieren autenticación personal.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Fácil integración del proceso de autenticación personal con sistemas de información.</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Información transaccional centralizada y fuertemente asegurada (Firma digital, estampas de tiempo, etc).</li>
                        </ul>
                     
                     </div> 
                    </div>
                </div><!-- .row end -->

                <!-- .row start -->
                
            </div><!-- .container end -->
        </div><!-- .page-content end -->

 <div class="page-content parallax parallax-1 dark mb-80" data-stellar-background-ratio="0.4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top"></span>
                            <h3>Operador homologado por la Registraduría Nacional del Estado Civil de Colombia bajo el estándar biométrico de huella ISO19794-2</h3>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->

                
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->


       <!-- .page-content start -->
        <div class="page-content">
            <!-- .container start -->
            <div class="container">    
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <div class="col-md-6">
                        <section class="fancy-heading style-2 left">
                            <h2>FACE FIRST - Reconocimiento Facial</h2>
                        </section><!-- .fancy-heading end -->
                        </div>
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->

                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-2">


                            <h4>DEFINICIÓN DEL PRODUCTO</h4>
                            <p>
                               Técnica de identificación de una persona basada en el reconocimiento de sus características físicas del Rostro.
                            </p>
                        </div><!-- .service-box-2 end -->
                        <img src="{% static 'images/sb/validat.jpg' %}" alt="" />
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">

                    <h6><strong><h4>CARACTERÍSTICAS</h4></strong></h6>
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i>Identificación no intrusiva y en movimiento (video en vivo)</li>
                            <li><i class="fa fa-li fa-check"></i>Reconocimiento de múltiples rostros simultáneamente en una imagen de video </li>
                           
                            <li><i class="fa fa-li fa-check"></i>Consulta remota de bases de datos </li>
                            <li><i class="fa fa-li fa-check"></i>Alta velocidad de identificación</li>
                            <li><i class="fa fa-li fa-check"></i>Soporte de cámaras analógicas e IP. No necesita cámaras especiales</li>
                          
                                <li><i class="fa fa-li fa-check"></i>Sistema automático de alertas (Estación de operario, Correo electrónico, SMS)</li>
                        </ul>
                    </div>
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                    <div style="height:7px !important"></div>
                    <h6><br><strong></strong></h6>
                        <ul class="fa-ul">
                        
                            <li><i class="fa fa-li fa-check"></i>Identificación automática de rostro en vivo con bases de datos de listas negras</li>
                             <li><i class="fa fa-li fa-check"></i>Soporta múltiples condiciones de ambiente con alta precisión</li>
                              <li><i class="fa fa-li fa-check"></i>Soporta cambios en el rostro tales como envejecimiento, vello facial, color de la piel, lentes oscuros, etc.</li>
                             <li><i class="fa fa-li fa-check"></i>Generación de estadísticas y búsquedas</li>
                            
                            <li><i class="fa fa-li fa-check"></i>Arquitectura modular distribuida</li>

                        </ul>
                    </div>
                   


                </div><!-- .row end -->

                 <!-- .row start -->
                <div class="row">
                    <!-- .col-md-4 start -->
                    <div class="col-md-2">
                        <div class="service-box-2">


                            
                            

                        </div><!-- .service-box-2 end -->
               
                    </div><!-- .col-md-4 end -->

                        <!-- .col-md-4 start -->
                      <div class="col-md-8 clearfix">
                        <ul class="tabs">
                            <li class="active">
                                <a href="#tab1">Ventajas</a>
                            </li>
                            <li class="">
                                <a href="#tab2">Desventajas</a>
                            </li>
                        </ul><!-- .tabs end -->

                        <!-- .tabs-content-wrap start -->
                        <div class="tab-content-wrap">
                            <!-- #tab1 content start -->
                            <div id="tab1" class="tab-content">
                                    <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i>Cantidad de puntos característicos de comparación contra otras tecnologías biométricas. El rostro contiene hasta 120 puntos de comparación</li>
                            <li><i class="fa fa-li fa-check"></i>Altísimos niveles de efectividad en condiciones adecuadas</li>
                            <li><i class="fa fa-li fa-check"></i>Sistema no intrusivo. No se requiere contacto alguno, ni que la persona sepa que el sistema se encuentra instalado para realizar la identificación</li>
                            <li><i class="fa fa-li fa-check"></i>Velocidad en la identificación</li>
                            <li><i class="fa fa-li fa-check"></i>Los algoritmos modernos tienen tal precisión que logran identificar incluso ante la presencia de lentes de sol, sombreros y diferenciar entre gemelos</li>
                        </ul>
                            </div><!-- #tab1 content end -->

                            <!-- #tab1 content start -->
                            <div id="tab2" class="tab-content">
                                    <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i>Se requiere un ambiente con condiciones adecuadas de iluminación y posicionamiento de cámaras</li>
                            <li><i class="fa fa-li fa-check"></i>Cirugía plástica</li>
                        </ul>
                            </div><!-- #tab2 content end -->

                            <!-- #tab1 content start -->
                           
                        </div><!-- .tab-content-wrap end -->
                    </div><!-- .col-md-7 end -->
                        
                </div><!-- .row end -->

            </div><!-- .container end -->
        </div><!-- .page-content end -->
       
        <div class="page-content parallax parallax-1 dark" data-stellar-background-ratio="0.4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">Identificación de IRIS</span>
                            <h3>Técnica de identificación de una persona basada en el reconocimiento de los patrones del IRIS</h3>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->

                
            </div><!-- .container end -->
        </div><!-- .page-content.parallax end -->

         </div><!-- .page-content end -->

        <div class="page-content parallax parallax-2" data-stellar-background-ratio="1.4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center style-2">
                          
                            <h2>IRIS ON THE MOVE - SARNOFF CORPORATION</h2>
                        
                        </section><!-- .fancy-heading end -->
                        <p>SRI Sarnoff es reconocido como uno de los laboratorios de investigación más importantes, colaborando con grades compañías y entidades del gobierno en el desarrollo de tecnologías de punta.</p>
                    </div><!-- .COL-MD-12 END -->
                    </div>


                 <div class="row">
                    <!-- .col-md-3 start -->
                    <div class="col-md-3 triggerAnimation animated" data-animate="zoomIn">
                        <div class="img-circled zoom-hover">
                            <img src="{% static 'images/sb/validat.jpg' %}" alt="image circled"/>
                        </div><!-- .img-circled end -->
                    </div><!-- .col-md-3 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-3 triggerAnimation animated" data-animate="zoomIn">
                        <div class="img-circled zoom-hover">
                            <img src="{% static 'images/Sarnoff/sarnoff1.jpg' %}" alt="image circled"/>
                        </div><!-- .img-circled end -->
                    </div><!-- .col-md-3 end -->

                    <!-- .col-md-3 start -->
                    <div class="col-md-3 triggerAnimation animated" data-animate="zoomIn">
                        <div class="img-circled zoom-hover">
                            <img src="{% static 'images/sb/validat.jpg' %}" alt="image circled"/>
                        </div><!-- .img-circled end -->
                    </div><!-- .col-md-3 end -->

                    <!-- .col-md-3 start -->
                    <div class="col-md-3 triggerAnimation animated" data-animate="zoomIn">
                        <div class="img-circled zoom-hover">
                            <img src="{% static 'images/sb/validat.jpg' %}" alt="image circled"/>
                        </div><!-- .img-circled end -->
                    </div><!-- .col-md-3 end -->
                </div><!-- .row end -->

                <div class="row">
                    <div class="col-md-6">
                    <section class="fancy-heading center">
                            <span class="heading-top" style="font-weight:600;">Características del iris</span>
                            
                     </section><!-- .fancy-heading end -->
                    
                     <div style="max-width:550px;margin-left: auto;margin-right: auto;"></br>
                    
                      <ul class="fa-ul">
                            <li><i class="fa fa-li fa-check"></i>El IRIS posee una mayor cantidad de puntos característicos de comparación contra otras tecnologías biométricas. Cada IRIS un ojo contiene más de 200 puntos de comparación convirtiendo esta tecnología en una de las más seguras a nivel de identificación</li>
                            <li><i class="fa fa-li fa-check"></i>Altísimos niveles de efectividad</li>
                            <li><i class="fa fa-li fa-check"></i>El IRIS permanece inmodificable a lo largo de la vida de una persona y no se afecta ni siquiera por cirugías a los ojos</li>
                            <li><i class="fa fa-li fa-check"></i>Sistema no intrusivo</li>
                            <li><i class="fa fa-li fa-check"></i>Velocidad en la identificación. El sistema de identificación de IRIS es reconocido como el más rápido y eficiente</li>
                        </ul>
                     
                     </div> 
                    </div>
                    <div class="col-md-6">
                      <section class="fancy-heading center">
                            <span class="heading-top" style="font-weight:600;">SRI Iris On The Move</span>
                            
                     </section><!-- .fancy-heading end -->  
                     
                     <div style="max-width:550px;margin-left: auto;margin-right: auto;"></br>
                      
                      
                      <ul class="fa-ul">
                            <li><i class="fa fa-li fa-file-text-o"></i>La línea IRIS On The Move de SRI permite la identificación mediante reconocimiento de IRIS a distancia (>80cm), con una altísima eficiencia en velocidad y seguridad de la identificación</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Fácilmente integrable con aplicaciones y sistemas de seguridad </li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Sistema de identificación no intrusivo y en movimiento. No se requiere contacto alguno, basta con una rápida mirada al dispositivo</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Solución ideal para cualquier tipo de ambiente ya que no se ve afectado por condiciones ambientales o de iluminación</li>
                            <li><i class="fa fa-li fa-file-text-o"></i>Ofrece soluciones móviles de identificación</li>
                        </ul>
                     
                     </div> 
                    </div>
                </div><!-- .row end -->

                <!-- .row start -->
                
            </div><!-- .container end -->
        </div><!-- .page-content end -->

{% endblock content %}


{% block scripts %}
 <script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4").removeClass("current-menu-item");
    $("#navbar2").addClass("current-menu-item");
    });
</script>
{% endblock scripts %}
