{% extends "base.html" %}



{% block content %}




 <!-- .page-content start -->
        <div class="page-content">
            <!-- .container start -->
            <div class="container" style="padding-top: 40px !important;">    
                
            	<div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">SOFTWARE ADMINISTATIVO DE RENTAS</span>
                            <h2>Optimización tributaria de la hacienda pública</h2>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 -->
                </div><!-- .row end -->
                </div>

                 <!-- .row start -->
                <div class="row">
                <div class="col-md-2">
                </div>
                    <!-- .col-md-6 start -->
                    <div class="col-md-4">
                        <ul class="fa-ul large-icons minimal">
                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                    <a href="#">
                                        <h5>Auditoría y Seguridad</h5>
                                    </a>

                                    <p>
                                        La aplicación SAR, permite confirmar y garantizar el correcto funcionamiento de procesos y procedimientos mediante procesos de auditoria, que permiten ejecutar reportes para el seguimiento de las operaciones, de igual manera cuenta con log de auditoria para seguimiento de transacciones
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                    <a href="#">
                                        <h5>Operaciones de Recaudo</h5>
                                    </a>

                                    <p>
                                        S.A.R. integra con las conectividades y especificaciones propias de las necesidades operativas para la modernización de las operaciones de Recaudo y conectividades con otros subsistemas existentes.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                    <a href="#">
                                        <h5>Seguridad para el Recaudo</h5>
                                    </a>

                                    <p>
                                        Los módulos se configuran fácilmente a través de una interfaz dentro del sistema.

                                    </p>
                                </div>
                            </li><!-- li end -->
                        </ul><!-- .fa-ul.large-icons end -->
                    </div><!-- .col-md-6 end -->

                    <!-- .col-md-6 start -->
                    <div class="col-md-4">
                        <ul class="fa-ul large-icons minimal">
                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                    <a href="#">
                                       
                                        <h5>Módulo Gestión Tributaria- HelpDesk</h5>
                                    </a>
                                    <p>
                                        El SAR HelpDesk es un área especializada en soporte técnico, por un sistema de tickets a través de Internet o vía acceso remoto, a equipos de Informática y Telecomunicaciones con la finalidad de resolver todos los incidentes y problemas que la administración  pueda tener.
                                    </p>
                                  
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                    <a href="#">
                                        <h5>Necesidades del Servicio</h5>
                                    </a>

                                    <p>
                                        Cada una de las personas claves en el contexto de la Administración territorial requiere un acceso específico a la información y los servicios disponibles en el seno de la propia Administración pública.
                                    </p>
                                    
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                    <a href="#">
                                        
                                         <h5>Reportes y Estadísticas</h5>
                                    </a>
                                      <p>
                                        Los usuarios tendrán disponibles la siguiente información de consulta.
                                        
                                    </p>

                                    
                                </div>
                            </li><!-- li end -->
                        </ul><!-- .fa-ul.large-icons end -->
                    </div><!-- .col-md-6 end -->
                </div><!-- .row end -->




            </div><!-- .container end -->
        </div><!-- .page-content end -->







        <!-- .page-content start -->
        <div class="page-content" style="background: url('{% static 'images/itatpls/parallax-3.jpg' %}') !important; padding-top: 40px;">
            <!-- .container start -->
            <div class="container">    
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">MÓDULOS DE LA APLICACIÓN</span>
                            <h2 style="color: #FFFFFF !important">Ofrecemos una gestión integral de los procesos de cobro y pago de impuestos</h2>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 -->
                </div><!-- .row end -->

                <div class="row">
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-7">
                            <div class="icon-container">
                                <i class="linecons-genius triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <a href="#"><h4  style="color: #FFFFFF !important">Quejas y Reclamos</h4></a>
                            <p style="color: #FFFFFF !important">
                                Radicación.
                                Respuestas del Radicado.
                                Seguimiento y control de las solicitudes de los contribuyentes. 
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-7">
                            <div class="icon-container">
                                <i class="linecons-tools triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <a href=""><h4  style="color: #FFFFFF !important">Pin Virtual</h4></a>
                            <p style="color: #FFFFFF !important">
                                Es un documento virtual, mediante el cual se liquidará, pagará y autorizará cualquier tipo de tramite, estampillas, registro de documentos, licencias, derechos y otros conceptos que contengan un acto o documento gravado con los mismos.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-7">
                            <div class="icon-container">
                                <i class="linecons-browser triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <a href=""><h4  style="color: #FFFFFF !important">Impuesto de Registro</h4></a>
                            <p style="color: #FFFFFF !important">
                                El contribuyente solicita la liquidación del impuesto y entrega los documentos soporte del trámite en la recepción y se digitaliza los documentos entregados, posteriormente al azar se asigna la transacción a un liquidador quien identifica los actos y genera la liquidación: esta liquidación es validada y aprobada por el personal de verificación y se genera el recibo que se imprime y se envía al banco. 
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->
                </div><!-- .row end -->

                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-7">
                            <div class="icon-container">
                                <i class="linecons-newspaper triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <a href=""><h4  style="color: #FFFFFF !important">Atención y Liquidación</h4></a>
                            <p style="color: #FFFFFF !important">
                                Efectuar la liquidación del impuesto con sus tasas.
                               Parametrización del impuesto y sus tarifas.
                               Configuración de los actos y datos adicionales para el correcto cálculo del impuesto.
                                Generación de recibos de liquidación del impuesto.
                                Almacena y registra las imágenes documentales como garantía del reporte físico de operaciones diarias.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-7">
                            <div class="icon-container">
                                <i class="linecons-clipboard triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <a href=""><h4  style="color: #FFFFFF !important">Control</h4></a>
                            <p style="color: #FFFFFF !important">
                                Control de liquidación sobre los actos exentos del impuesto y las autorizadas.
Control de las modificaciones de la liquidación de recibos del contribuyente.
Control sobre el proceso de devolución de un pago.
Control y enlace entre los recibos de pagos y los bancos.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-7">
                            <div class="icon-container">
                                <i class="linecons-layers triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <a href=""><h4  style="color: #FFFFFF !important">Conectividad Contable</h4></a>
                            <p style="color: #FFFFFF !important">
                                Sistema de captura de pagos y control del mismo con las interfaces necesarias para intercambiar información financiera con otros sistemas, facilitando la integración con procesos externos como lo es la contabilidad.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->




	<!-- .page-content start -->
        <div class="page-content">
            <!-- .container start -->
            <div class="container">    
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">Galería de Imágenes</span>
                            <h2>Sólo una muestra de lo que encontrarás en nuestra aplicación</h2>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 -->
                </div><!-- .row end -->

                <div class="row">
                    <!-- .col-md-3 start -->
                    <div class="col-md-3">
                        <div class="service-box-11">
                            <p class="service-number">01</p>
                            
                            <a href="" class="service-name"><h4></h4></a>
                            
                            <div class="icon-container">
                                <i class="linecons-genius"></i>
                            </div>
                            
                            <a href="" class="read-more service-hidden">Ver más</a>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->

                    <!-- .col-md-3 start -->
                    <div class="col-md-3">
                        <div class="service-box-11">
                            <p class="service-number">02</p>
                            
                            <a href="" class="service-name"><h4></h4></a>
                            
                            <div class="icon-container">
                                <i class="linecons-tools"></i>
                            </div>
                            
                            <a href="" class="read-more service-hidden">Ver más</a>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->

                    <!-- .col-md-3 start -->
                    <div class="col-md-3">
                        <div class="service-box-11">
                            <p class="service-number">03</p>
                            
                            <a href="" class="service-name"><h4></h4></a>
                            
                            <div class="icon-container">
                                <i class="linecons-global"></i>
                            </div>
                            
                            <a href="" class="read-more service-hidden">Ver más</a>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->
                    
                    <!-- .col-md-3 start -->
                    <div class="col-md-3">
                        <div class="service-box-11">
                            <p class="service-number">04</p>
                            
                            <a href="" class="service-name"><h4></h4></a>
                            
                            <div class="icon-container">
                                <i class="linecons-traget"></i>
                            </div>
                            
                            <a href="" class="read-more service-hidden">Ver más</a>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->







 
        <div class="page-content parallax dark parallax-colored">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .call-to-action start -->
                        <div class="call-to-action clearfix">
                            <div class="text">
                                <h2>Está usted interesado en trabajar con nosotros?</h2>
                                <p>
                                   Agendaremos una cita para atenderle de forma personalizada y ofrecerle nuestras soluciones a su problema.
                                </p>
                            </div>

                            <a href='#' class='btn btn-medium white empty icon-animated'>
                                <span><i class="fa fa-envelope-o"></i> Solicitar Cita</span>
                            </a>
                        </div><!-- .call-to-action end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->




        <!-- .page-content start -->
        <div class="page-content custom-background bkg-light-blue">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">SOLUCIONES EN SEGURIDAD Y GESTIÓN DE IDENTIFICACIÓN</span>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->

                <!-- .row start -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="service-box-4">
                            <div class="icon-container">
                                <i class="linecons-genius"></i>
                            </div>
                            
                            <div class="text-container">
                                <h4>VALIDA</h4>
                                
                                <p>
                                    Servicio de Autenticación Biométrica.
                                </p>
                            </div><!-- .text-container end -->
                        </div><!-- .service-box-4 end -->
                    </div><!-- .col-md-4 end -->
                        
                    <div class="col-md-4">
                        <div class="service-box-4">
                            <div class="icon-container">
                                <i class="linecons-tools"></i>
                            </div>
                            
                            <div class="text-container">
                                <h4>FACE FIRST</h4>
                                
                                <p>
                                    Reconocimiento Facial
                                </p>
                            </div><!-- .text-container end -->
                        </div><!-- .service-box-4 end -->
                    </div><!-- .col-md-4 end -->
                        
                    <div class="col-md-4">
                        <div class="service-box-4">
                            <div class="icon-container">
                                <i class="linecons-browser"></i>
                            </div>
                            
                            <div class="text-container">
                                <h4>IRIS on the Move</h4>
                                
                                <p>
                                    Identificación de IRIS
                                </p>
                            </div><!-- .text-container end -->
                        </div><!-- .service-box-4 end -->
                    </div><!-- .col-md-4 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->


  <!-- .page-content start -->
        <div class="page-content">
            <!-- .container start -->
            <div class="container"> 

        <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">VALIDA</span>
                            <h2>Beneficios</h2>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 -->
                </div><!-- .row end -->

                  <div class="row">
                <div class="col-md-2">
                </div>
                    <!-- .col-md-6 start -->
                    <div class="col-md-4">
                        <ul class="fa-ul large-icons minimal">
                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                    <a href="#">
                                        <h5></h5>
                                    </a>

                                    <p>
                                        Disminución de los problemas de suplantación por falta de sistemas confiables de autenticación personal.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                    <a href="#">
                                        <h5></h5>
                                    </a>

                                    <p>
                                        Autenticación y verificación de identidad automatizada en documentos y trámites.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                    <a href="#">
                                        <h5></h5>
                                    </a>

                                    <p>
                                        Fuente de información única y confiable: Provee información biométrica y biográfica certificada de un ciudadano.

                                    </p>
                                </div>
                            </li><!-- li end -->
                        </ul><!-- .fa-ul.large-icons end -->
                    </div><!-- .col-md-6 end -->

                    <!-- .col-md-6 start -->
                    <div class="col-md-4">
                        <ul class="fa-ul large-icons minimal">
                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                    <a href="#">
                                       
                                        <h5></h5>
                                    </a>
                                    <p>
                                       Agilización de procesos que requieren autenticación personal.
                                    </p>
                                  
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                    <a href="#">
                                        <h5></h5>
                                    </a>

                                    <p>
                                        Fácil integración del proceso de autenticación personal con sistemas de información
                                    </p>
                                    
                                </div>
                            </li>

                            <li>
                                <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                                    <i class="fa fa-li fa-check"></i>
                                </div>

                                <div class="li-content">
                                    <a href="#">
                                        
                                         <h5></h5>
                                    </a>
                                      <p>
                                        Información transaccional centralizada y fuertemente asegurada (Firma digital, estampas de tiempo, etc).
                                        
                                    </p>

                                    
                                </div>
                            </li><!-- li end -->
                        </ul><!-- .fa-ul.large-icons end -->
                    </div><!-- .col-md-6 end -->
                </div><!-- .row end -->

                      </div>
                       </div>

                       <!-- .page-content start -->
        <div class="page-content">
            <!-- .container start -->
            <div class="container">    
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">Face First</span>
                            <h2>Ventajas</h2>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 -->
                </div><!-- .row end -->

                <div class="row">
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-10">
                            <div class="icon-container">
                                <i class="linecons-genius triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <div class="service-detail-container">
                                <a href="#"><h4></h4></a>
                                <p>
                                    Cantidad de puntos característicos de comparación contra otras tecnologías biométricas. El rostro contiene hasta 120 puntos de comparación.

                                </p>
                            </div><!-- .service-detail-container end -->
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-10">
                            <div class="icon-container">
                                <i class="linecons-tools triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <div class="service-detail-container">
                                <a href=""><h4></h4></a>
                                <p>
                                    Altísimos niveles de efectividad en condiciones adecuadas.
                                </p>
                            </div><!-- .service-detail-container end -->
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-10">
                            <div class="icon-container">
                                <i class="linecons-browser triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <div class="service-detail-container">
                                <a href=""><h4></h4></a>
                                <p>
                                    Sistema no intrusivo. No se requiere contacto alguno, ni que la persona sepa que el sistema se encuentra instalado para realizar la identificación.
                                </p>
                            </div><!-- .service-detail-container end -->
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->
                </div><!-- .row end -->

                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-10">
                            <div class="icon-container">
                                <i class="linecons-newspaper triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <div class="service-detail-container">
                                <a href=""><h4></h4></a>
                                <p>
                                   Velocidad en la identificación
                                </p>
                            </div><!-- .service-detail-container end -->
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-10">
                            <div class="icon-container">
                                <i class="linecons-clipboard triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <div class="service-detail-container">
                                <a href=""><h4></h4></a>
                                <p>
                                    Los algoritmos modernos tienen tal precisión que logran identificar incluso ante la presencia de lentes de sol, sombreros y diferenciar entre gemelos.
                                </p>
                            </div><!-- .service-detail-container end -->
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->

                    <!-- .col-md-4 start -->
                    <div class="col-md-4">
                        <div class="service-box-10">
                            <div class="icon-container">
                                <i class="linecons-layers triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <div class="service-detail-container">
                                <a href=""><h4></h4></a>
                                <p>
                                    Se requiere un ambiente con condiciones adecuadas de iluminación y posicionamiento de cámaras
                                </p>
                            </div><!-- .service-detail-container end -->
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-4 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->

         <!-- .page-content start -->
        <div class="page-content">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- .fancy-heading start -->
                        <section class="fancy-heading center">
                            <span class="heading-top">IRIS ON THE MOVE</span>
                            <h2>Características</h2>
                        </section><!-- .fancy-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->

                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-3 start -->
                    <div class="col-md-3">
                        <div class="process-box-circle">
                            <div class="icon-container">
                                <i class="linecons-genius triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <h4></h4>
                            <p>
                                La línea IRIS On The Move de SRI permite la identificación mediante reconocimiento de IRIS a distancia (>80cm), con una altísima eficiencia en velocidad y seguridad de la identificación
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->
                    
                    <!-- .col-md-3 start -->
                    <div class="col-md-3">
                        <div class="process-box-circle">
                            <div class="icon-container">
                                <i class="linecons-layers triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <h4></h4>
                            <p>
                               Fácilmente integrable con aplicaciones y sistemas de seguridad.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->

                    <!-- .col-md-3 start -->
                    <div class="col-md-3">
                        <div class="process-box-circle">
                            <div class="icon-container">
                                <i class="linecons-map triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <h4></h4>
                            <p>
                                Sistema de identificación no intrusivo y en movimiento. No se requiere contacto alguno, basta con una rápida mirada al dispositivo.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->

                    <!-- .col-md-3 start -->
                    <div class="col-md-3">
                        <div class="process-box-circle">
                            <div class="icon-container">
                                <i class="linecons-global triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <h4></h4>
                            <p>
                                Solución ideal para cualquier tipo de ambiente ya que no se ve afectado por condiciones ambientales o de iluminación.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->
                </div><!-- .row end -->
                    <!-- .row start -->
                <div class="row">
                    <!-- .col-md-3 start -->
                    <div class="col-md-3">
                        <div class="process-box-circle">
                            <div class="icon-container">
                                <i class="linecons-genius triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <h4></h4>
                            <p>
                                Ofrece soluciones móviles de identificación.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->
                    
                    <!-- .col-md-3 start -->
                    <div class="col-md-3">
                        <div class="process-box-circle">
                            <div class="icon-container">
                                <i class="linecons-layers triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <h4></h4>
                            <p>
                               El IRIS posee una mayor cantidad de puntos característicos de comparación contra otras tecnologías biométricas. Cada IRIS un ojo contiene más de 200 puntos de comparación convirtiendo esta tecnología en una de las más seguras a nivel de identificación
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->

                    <!-- .col-md-3 start -->
                    <div class="col-md-3">
                        <div class="process-box-circle">
                            <div class="icon-container">
                                <i class="linecons-map triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <h4></h4>
                            <p>
                               Altísimos niveles de efectividad.
                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->

                    <!-- .col-md-3 start -->
                    <div class="col-md-3">
                        <div class="process-box-circle">
                            <div class="icon-container">
                                <i class="linecons-global triggerAnimation animated" data-animate='zoomIn'></i>
                            </div>

                            <h4></h4>
                            <p>
                                El IRIS permanece inmodificable a lo largo de la vida de una persona y no se afecta ni siquiera por cirugías a los ojos.

                            </p>
                        </div><!-- .service-box-2 end -->
                    </div><!-- .col-md-3 end -->
                </div><!-- .row end -->

            </div><!-- .container end -->
        </div><!-- .page-content end -->




{% endblock content %}


{% block scripts %}
 <script type="text/javascript">
    jQuery(document).ready(function($){
    $("#navbar1, #navbar2, #navbar3, #navbar4").removeClass("current-menu-item");
    $("#navbar2").addClass("current-menu-item");
    });
</script>
{% endblock scripts %}
